{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="{% static 'bower_components/bootswatch-dist/css/bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block title %}
    {% if name %}{{ name }} – {% endif %}G3W-Suite
{% endblock %}

{% block branding %}
  <a class='navbar-brand' rel="nofollow" href='{% url 'home' %}'>
      G3W-Suite
  </a>
{% endblock %}

{% block script %}
    <script src="{% static "rest_framework/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/csrf.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    <script>
        $(document).ready(function() {
            $('form').ajaxForm();

            // add to container
            $('.content-main').append('<p style="text-align:center">Powerd by <a href="http://www.django-rest-framework.org/">Django Rest Framework</a></p>');
        });
    </script>
  {% endblock %}