{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}
{% load guardian_tags %}
{% load svg_icon %}
{% load static %}
{% load qdjango_tags %}



{% block page_header %}
<div class="dash-hero">
  <div class="row">
    <div class="col-md-8">
      <h1>{% trans 'QGIS Project Messages' %}</h1>
      <p>{{ project.title }}</p>
    </div>
    <div class="col-md-4 text-right hero-meta">
      <a href="{% url 'project-list' group.slug %}" style="color:#fff;opacity:.9;text-decoration:none;">
        <i class="fa fa-arrow-left"></i> {% trans 'Back to projects' %}
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}
{% get_obj_perms user for project as "userPrj_perms" %}

<div class="group-info-card">
    {% if project.thumbnail %}
    <div class="gi-logo" style="background-image:url('{{ MEDIA_URL }}{{ project.thumbnail }}');"></div>
    {% endif %}
    <div class="gi-body">
        <h3 class="gi-title">{{ project.title }}</h3>
        <div class="gi-desc">{{ project.description|safe }}</div>
    </div>
    <div class="gi-actions">
        {% if "view_project" in userPrj_perms %}
        <a href="{% url 'group-project-map' group.slug 'qdjango' project.pk %}" class="qa-btn" data-toggle="tooltip" data-placement="top" title="{% trans 'Show map' %}" target="_blank">
            <i class="ion ion-map"></i> {% trans 'Map' %}
        </a>
        {% endif %}
        {% if "view_project" in userPrj_perms %}
        <a href="#" class="qa-btn" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'qdjango-project-detail' group.slug project.slug %}">
            <i class="ion ion-eye"></i> {% trans 'Detail' %}
        </a>
        {% endif %}
        {% if "change_project" in userPrj_perms %}
        <a href="{% url 'qdjango-project-update' group.slug project.slug %}" class="qa-btn" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}">
            <i class="ion ion-edit"></i> {% trans 'Edit' %}
        </a>
        {% endif %}
    </div>
</div>

<div class="messages-panel">
    <div class="panel-head">
        <div class="mh-intro">
            <span class="mh-icon"><i class="fa fa-comments-o"></i></span>
            <div>
                <h4>{% trans 'Project messages' %}</h4>
                <p>{% trans 'Notifications shown to users when they open this project.' %}</p>
            </div>
        </div>
        <a href="{% url 'qdjango-project-messages-add' group.slug project.slug %}" class="btn btn-sm btn-add-message" id="btn-add-project">
            <i class="ion ion-plus-circled"></i> {% trans 'Message' %}
        </a>
    </div>

    <table id="project_message_table" class="table table-hover messages-table" data-widget-type="dataTable">
        <thead>
            <tr>
                <th style="width: 90px">{% trans 'Actions' %}</th>
                <th>{% trans 'Title' %}</th>
                <th style="width: 110px">{% trans 'Level' %}</th>
                <th style="width: 130px">{% trans 'Available from' %}</th>
                <th style="width: 130px">{% trans 'Available to' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            {% with object.level|message_level as level_label %}
            <tr id="qdjango_project_message_{{ object.slug }}">
                <td>
                    <span class="icon">
                        <a href="{% url 'qdjango-project-messages-update' group.slug project.slug object.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}"><i class="ion ion-edit"></i></a>
                    </span>
                    <span class="icon">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}" data-widget-type="deleteItem" data-delete-url="{% url 'qdjango-project-messages-delete' group.slug project.slug object.pk %}" data-item-selector="#qdjango_project_message_{{ object.slug }}"><i class="ion ion-trash-b"></i></a>
                    </span>
                </td>
                <td class="msg-title">{{ object.title }}</td>
                <td>
                    <span class="msg-level msg-level-{{ level_label|lower }}">
                        <i class="fa fa-circle"></i> {{ level_label }}
                    </span>
                </td>
                <td>{% if object.valid_from %}<i class="fa fa-calendar"></i> {{ object.valid_from }}{% else %}<span class="msg-empty">&mdash;</span>{% endif %}</td>
                <td>{% if object.valid_to %}<i class="fa fa-calendar"></i> {{ object.valid_to }}{% else %}<span class="msg-empty">&mdash;</span>{% endif %}</td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}