{% load i18n %}
{% load g3wadmin_tags %}
{% load guardian_tags %}

{% if results|length > 0 %}
  <details open>
    <summary>{% trans 'Projects' %} ({{ results|length }})</summary>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 130px;">{% trans 'Logo' %}</th>
          <th>{% trans 'Project' %}</th>
          <th style="width: 130px;">{% trans 'Actions' %}</th>
          <th style="width: 130px;">{% trans 'Group' %}</th>
          <th style="width: 50px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for r in results %}
          {% get_obj_perms user for r as "userObj_perms" %}
          <tr>
            <td style="padding: 10px;">
              {% if "view_project" in userObj_perms %}
                <a
                  href="{% url 'group-project-map' r.group.slug 'qdjango' r.pk %}"
                  title="{% trans 'Show map' %}"
                  target="_blank"
                >
              {% endif %}
              <img style="width: 130px; object-fit: cover;" src="{% if r.thumbnail  %}{{ MEDIA_URL }}{{ r.thumbnail }}{% else %}{{ SETTINGS.PLACEHOLD_SERVICE }}80x60?text=MAP{% endif %}" />
              {% if "view_project" in userObj_perms %}
                </a>
              {% endif %}
              </td>
            <td>
              <h4>
                {{ r.title }}
              </h4>
              {% if r.description %}
                <details><summary><b>{% trans 'Description' %}</b></summary>{{ r.description|safe }}</details>
              {% endif %}
            </td>
            <td style="display: flex;gap: 10px;">
              {% if "view_project" in userObj_perms %}
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{% trans 'Show detail' %}"
                  data-widget-type="detailItem"
                  data-detail-url="{% url 'qdjango-project-detail' r.group.slug r.slug %}"
                >
                  <i class="fa fa-lg fa-info-circle"></i>
                </a>
              {% endif %}
              {% if "change_project" in userObj_perms %}
                <a
                  href="{% url 'qdjango-project-update' r.group.slug r.slug %}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{% trans 'Edit' %}"
                >
                  <i class="fa fa-lg fa-pencil"></i>
                </a>
              {% endif %}
              {% if "change_project" in userObj_perms %}
                <a
                  href="{% url 'qdjango-project-layers-list' r.group.slug r.slug %}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{% trans 'Layers' %}"
                >
                  <i class="fa fa-lg fa-bars"></i>
                </a>
              {% endif %}
            </td>
            <td>{{ r.group.name }}</td>
            <td>
              {% if "view_project" in userObj_perms %}
                <a
                  href="{% url 'group-project-map' r.group.slug 'qdjango' r.pk %}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{% trans 'Show map' %}"
                  target="_blank"
                  style="color:forestgreen;"
                >
                  <i class="fa fa-external-link"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endif %}