{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" id="caching_layer_form">
    <div class="row">
        <div class="col-md-12 error-form-message hidden">
            <div class="alert alert-danger alert-dismissable">
                <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
                    {% trans 'Some errors on form. Check it and send again.' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% crispy form %}
        </div>
    </div>
</form>
<script>

    $('#caching_layer_form').find('li').click(function(){
        var $reset_url = $('#caching_layer_form').find('#id_reset_layer_cache_url').val();
        var id = $(this).find('a').attr('id');
        if (id == 'resetcache_for_project') {
            $reset_url += '?reset_by_project';
        }
        var $that = $(this).parent();
        $that.next('span').remove();
        var $after = $("<span></span>").css('margin-left','4px').css('margin-top', '8px');

        $.get($reset_url, function(data){
            $after.html(data.message).insertAfter($that);
        }, 'json').fail(function(){
            $after.html('Error').insertAfter($that);
        });
    });

    ga.ui.initCachingActiveCheckBox();
</script>