{% load i18n %}
{% load crispy_forms_tags %}

<form method="post" id="caching_layer_form">
  <div class="error-form-message hidden">
    <div class="alert alert-danger alert-dismissable">
      <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
      {% trans 'Some errors on form. Check it and send again.' %}
    </div>
  </div>
  <div class="skip-icheck">
    {% crispy form %}
  </div>
</form>

<script>
(function() {
  const ACTIVE   = document.querySelector('#caching_layer_form #id_active')
  const BASE     = document.querySelector('#caching_layer_form #id_as_base_layer');
  const FIELDSET = document.querySelector('#caching_layer_form fieldset');
  const TITLE    = document.querySelector('#caching_layer_form #id_base_layer_title');

  document.querySelectorAll('#caching_layer_form #resetcache, #caching_layer_form #resetcache_for_project').forEach(action => action.addEventListener('click', async function (e) {
    try {
      const message = action.closest('details').querySelector('.message');
      message.innerHTML = '';
      message.innerHTML = '&nbsp;' + (await (await fetch(action.closest('form').querySelector('#id_reset_layer_cache_url').value + ('resetcache_for_project' === action.id ? '?reset_by_project' : ''))).json()).message;
    } catch(e) {
      message.innerHTML = '&nbsp; Error';
    }
  }));

  BASE.toggleAttribute('disabled', !ACTIVE.checked);
  TITLE.toggleAttribute('required');

  if (BASE.checked) {
    FIELDSET.toggleAttribute('disabled', false);
  }

  ACTIVE.addEventListener('click', async function (e) {
    if (!e.target.checked) {
      BASE.checked = false;  
    }
    BASE.toggleAttribute('disabled', !e.target.checked);
    FIELDSET.toggleAttribute('disabled', !BASE.checked);
  });

  BASE.addEventListener('click', async function (e) {
    FIELDSET.toggleAttribute('disabled', !e.target.checked);
  });
})();
</script>