{% load i18n %}
{% load static %}

{% if as_col %}
<span class="col-xs-1 icon">
{% endif %}
<a class="layer-action" {% if active %}style="color: orangered;"{% endif %} data-toggle="tooltip" title="{% trans 'Caching layer' %}" data-widget-type="ajaxForm"
   data-form-url="{% url 'caching-layer-active' layer.project.group.slug app_name layer.project.slug layer.id %}"
   data-modal-title="{% trans 'Activation layer caching' %}">
    <i class="fa fa-database"></i>
</a>
{% if as_col %}
</span>
<span class="label label-info col-xs-1"></span>
{% endif %}
