.box-footer .description-block .icon {
    font-size: 30px;
}

.box-footer .projects-group {
    text-align: left;
}

table span.icon {
    font-size: 22px;
}

table span.iconmap {
    font-size: 30px;
}
.icon .ion-trash-b,
.qq-upload-delete .ion-trash-b,
.qq-upload-cancel .ion-close {
    color:#bf2d2d;
}

.icon .ion-trash-b:hover {
    color:#f28a7e;
}

.icon .ion-android-upload {
    color:#605ca8;
}

.widget-group-add{
    height: 192px;
    text-align: center;
    font-size:136px;
    background-color: rgba(255,255,255,.7);
}
.widget-group-add a {
    color: rgba(0,0,0,.15);
}

.widget-group-title {
    background-color: rgba(0,0,0,.5);
}

/* for file uploader */
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    background-color: #ecf0f5;
    border: 2px dotted gray;
}

.qq-upload-list li {
    background-color: transparent;
}

.qq-upload-list li.qq-upload-success {
    background-color: transparent;
    color:inherit;
}

.qq-upload-list li.qq-upload-fail {
    background-color: transparent;
    color:red;
}

.qq-upload-size, .qq-upload-cancel, .qq-upload-retry,
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
    font-size: 18px;
    font-weight: normal;
}

.qq-upload-cancel, .qq-upload-delete {
    color: #bf2d2d;
}

.qq-upload-file {
    font-size: 12px;
}

.qq-upload-button-selector {
    width: 100%;
    height: 120px;
    border: 2px dashed #3c8dbc;
    padding-top: 50px;
    color: #3c8dbc;
    text-align: center;
}

.qq-upload-button-selector:hover {
    background-color: #ecf0f5;
}

.select2 {
    color: black;
}

.modalMap {
    height:400px;
}

h5 small {
    color:#fff;
}

.sort-highlight-group {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
    height: 192px;
}

.widget-user .widget-user-username {
    font-weight: 400;
}

.acl-box .help-block {
    color: #ffffff;
}

.color-orange {
    color: orangered;
}

.color-orange:hover {
    color: orangered;
    opacity: 80%;
}

.label-action-layer {
    position: absolute;
    top: -9px;
    right: 1px;
    text-align: center;
    font-size: 11px;
    padding: 2px 3px;
    line-height: .9;
}

#qdjango_projects_list table a.project-thumb:hover img {
    border: 2px solid #E6E6E6;
}