.box-footer .description-block .icon {
    font-size: 30px;
}

.box-footer .projects-group {
    text-align: left;
}

table span.icon {
    font-size: 22px;
}

table span.iconmap {
    font-size: 30px;
}
.icon .ion-trash-b,
.qq-upload-delete .ion-trash-b,
.qq-upload-cancel .ion-close {
    color:#bf2d2d;
}

.icon .ion-trash-b:hover {
    color:#f28a7e;
}

.icon .ion-android-upload {
    color:#605ca8;
}

.widget-group-add{
    height: 192px;
    text-align: center;
    font-size:136px;
    background-color: rgba(255,255,255,.7);
}
.widget-group-add a {
    color: rgba(0,0,0,.15);
}

.widget-group-title {
    background-color: rgba(0,0,0,.5);
}

/* for file uploader */
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    background-color: #ecf0f5;
    border: 2px dotted gray;
}

.qq-upload-list li {
    background-color: transparent;
}

.qq-upload-list li.qq-upload-success {
    background-color: transparent;
    color:inherit;
}

.qq-upload-list li.qq-upload-fail {
    background-color: transparent;
    color:red;
}

.qq-upload-size, .qq-upload-cancel, .qq-upload-retry,
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
    font-size: 18px;
    font-weight: normal;
}

.qq-upload-cancel, .qq-upload-delete {
    color: #bf2d2d;
}

.qq-upload-file {
    font-size: 12px;
}

.qq-upload-button-selector {
    width: 100%;
    height: 120px;
    border: 2px dashed #3c8dbc;
    padding-top: 50px;
    color: #3c8dbc;
    text-align: center;
}

.qq-upload-button-selector:hover {
    background-color: #ecf0f5;
}

.select2 {
    color: black;
}

.modalMap {
    height:400px;
}

h5 small {
    color:#fff;
}

.sort-highlight-group {
    background: #f4f4f4;
    border: 1px dashed #ddd;
    margin-bottom: 10px;
    height: 192px;
}

.sort-highlight-project {
    background: #ced4da;
    height: 112px;
}

.widget-user .widget-user-username {
    font-weight: 400;
}

/* For WCAG guidelines */
.acl-box .help-block {
    color: #ffffff;
}

.color-orange {
    color: orangered;
}

.color-orange:hover {
    color: orangered;
    opacity: 80%;
}

.color-red {
    color: #bf2d2d;
}

.color-red:hover {
    color: #bf2d2d;
    opacity: 80%;
}

.label-action-layer {
    position: absolute;
    top: -9px;
    right: 1px;
    text-align: center;
    font-size: 11px;
    padding: 2px 3px;
    line-height: .9;
}

#qdjango_projects_list table a.project-thumb:hover img {
    border: 2px solid #ff4500;
}

.search-admin-input {
    width: 245px;
    padding-right: 24px;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 20px;
}

.search-admin-input::placeholder {
    color: #ffffff;
}

.search-admin-input:focus {
    border-color: #ffffff;
}

.result-search-item {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.result-search-item-odd {
    background: #ffffff;
}

.result-search-item-odd {
    background: #d8dee9;
}

.result-search-item-links {
    font-size: 150%;
}

div.vector-download  li {
    list-style: none;
    box-sizing: border-box;
    display: list-item;
    padding: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}

div.vector-download > ul.menu {
    padding: 0;
}

.group-abstract-action, .project-abstract-action {
    margin-left:-10px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #00c0ef;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #00acd6;
}

.translate {
    border: 1px dashed #006699;

}
.translate + div.note-editor {
    border: 1px dashed #006699;
}

.translatable_fields {
    display: inline-block;
    width: 40px;
    height: 20px;
}

a.layer-action {
    cursor: pointer;
}
