[submodule "g3w-admin/ogc"]
	path = g3w-admin/ogc
	url = https://bitbucket.org/gis3w/g3w-admin-ogc.git
[submodule "g3w-admin/law"]
	path = g3w-admin/law
	url = https://bitbucket.org/gis3w/g3w-admin-law.git
[submodule "g3w-admin/cdu"]
	path = g3w-admin/cdu
	url = https://bitbucket.org/gis3w/g3w-admin-cdu.git
[submodule "g3w-admin/iternet"]
	path = g3w-admin/iternet
	url = https://bitbucket.org/gis3w/g3w-admin-iternet.git
