# Created by .ignore support plugin (hsz.mobi)
# Python bytecode
*.py[co]

# Editor temp files
*~

# Sphinx docs
build

#PyCharms project file
/.idea/

#temp_uploads for jqupload
/temp_uploads/

#Qdjango2 setting local file
/g3w-admin/base/settings/local_settings.py

#Node modules
/node_modules

#Bower components
/g3w-admin/core/static/bower_components/

#Coverage html test result reports
/g3w-admin/htmlcov/

# gulp dist directory
/dist/

# coverage
/g3w-admin/.coverage

# submodule
/g3w-admin/ogc/
/g3w-admin/iternet/
/g3w-admin/cdu/
/g3w-admin/law/
/g3w-admin/iternet_capannori/
.gitmodules