Django==4.2.24
django-formtools==2.2
django-crispy-forms==2.3
crispy-bootstrap3==2024.1
django-extensions==3.1.5
#---------------------------------------------------------------------------
# django-file-form: to replace with PyPi version where this patch is present:
git+https://github.com/gis3w/django-file-form.git@behind_proxy
#---------------------------------------------------------------------------
django-guardian==2.2.0
django-model-utils==4.5.1
django-sitetree==1.17.2
djangorestframework==3.15.2
djangorestframework-gis==1.0
drf-spectacular==0.25.1
django-downloadview==2.3.0
django-mptt==0.13.4
django-ordered-model==3.7.4
django-ajax-selects==2.2.0
django-modeltranslation==0.17.5
django-filter
django-bleach==3.1.0
pathlib2
lxml
psycopg[binary]
pillow
owslib
defusedxml
#tablib==0.14.0
django-import-export==3.2.0
coverage
urllib3
python-magic
celery==5.4.0
deprecation
huey==2.4.3
redis==4.5.4
django-redis==5.2.0
django-registration==3.4
django-recaptcha==3.0.0
pydantic==2.6.3
weasyprint==63.0
distro==1.7.0
django-allauth[socialaccount]==0.63.6
django-elasticsearch-dsl==8.0
natsort==8.4.0
python-slugify[unidecode]==8.0.4
