Django==2.2.24
django-autoslug==1.9.6
django-formtools==2.2
django-crispy-forms==1.8.1
django-extensions==2.2.5
django-file-form==0.2.3
django-guardian==2.0.0
django-model-utils==4.0.0
django-sitetree==1.14.0
djangorestframework==3.11.2
djangorestframework-gis==0.15
django-downloadview==1.9
django-debug-toolbar==3.1.1
django-debug-panel==0.8.3
django-mptt==0.10.0
django-ordered-model==3.3.0
django-ajax-selects==1.8.0
django-modeltranslation==0.14.4
django-filter
pathlib
lxml
psycopg2
psycopg2-binary
pillow
owslib
defusedxml
tablib==0.14.0
django-import-export
coverage
urllib3
python-magic
celery==3.1.26.post2
deprecation
huey
redis
git+https://github.com/g3w-suite/django-huey-monitor.git
# to fix compatibility con huey_monitor
git+https://github.com/boxine/bx_py_utils.git@v36