amqp==1.4.9
anyjson==0.3.3
backports.csv==1.0.7
billiard==3.3.0.23
celery==3.1.15
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
defusedxml==0.6.0
diff-match-patch==20181111
Django==1.11.18
django-ajax-selects==1.6.1
django-autoslug==1.9.3
django-celery==3.3.1
django-crispy-forms==1.6.1
django-debug-panel==0.8.3
django-debug-toolbar==1.8
django-downloadview==1.9
django-extensions==1.8.0
django-file-form==0.2.3
django-formtools==2.0
django-guardian==1.4.8
django-import-export==1.2.0
django-model-utils==3.0.0
django-mptt==0.8.7
django-ordered-model==1.4.1
django-sitetree==1.8.0
djangorestframework==3.6.3
djangorestframework-gis==0.11.2
et-xmlfile==1.0.1
GeoAlchemy2==0.6.3
idna==2.8
importlib-metadata==0.19
jdcal==1.4.1
kombu==3.0.37
lxml==4.4.1
more-itertools==7.2.0
odfpy==1.4.0
openpyxl==2.6.3
OWSLib==0.18.0
pathlib==1.0.1
Pillow==6.1.0
pkg-resources==0.0.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pyproj==2.3.0
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.3.7
sqlparse==0.3.0
tablib==0.13.0
urllib3==1.25.3
vine==1.3.0
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0

# package depends on libgdal-dev package => version have to match, e.g. isntall only 
# the version of the installed dev version. In my case 2.2.3. Need also to follow 
# env var setup before install as described in:
# https://gis.stackexchange.com/questions/28966/python-gdal-package-missing-header-file-when-installing-via-pip
# to allwo finding of libs and includes.
GDAL==2.2.3
