Django==1.11.2
django-autoslug
django-formtools
django-crispy-forms
django-extensions
django-file-form
django-guardian
django-model-utils
django-sitetree
djangorestframework
djangorestframework-gis
django-filter>=1.0.4
django-downloadview
django-debug-toolbar
django-debug-panel
django-mptt
django-ordered-model
django-ajax-select
pathlib
shapely
GeoAlchemy2
lxml
psycopg2
pillow
owslib
defusedxml
SQLAlchemy
django-import-export
coverage
urllib3

# GDAL by hand



