# 2026-01-15, requirements for huey, to be used in G3W-SUITE. 
# This file is included in requirements.txt, so that huey and its dependencies are installed when installing the project.
# This file is kept separate from requirements.txt for retro compatibility reasons.
 

