{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}
{% load svg_icon %}

{% block custom_js_links_page %}
<script>
    ga.ui.initSetLayerCached();
</script>
{% endblock %}

{% block page_header %}
<h1>
{% trans 'QGIS Project Layers' %}
    <small></small>
</h1>
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Project </h3>
            </div>
            <div class="box-body">
                Description project
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <span class="description">Layers</span>
    </div>
    <div class="box-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width: 40px">Type</th>
                    <th style="width: 40px">{%  trans 'Cached' %}</th>
                    <th>{%  trans 'Name' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr id="qdjango_project_layer_{{ object.slug }}">
                    <td>
                        {% include 'qdjango/include/layer_icon.html' %}
                    </td>
                    <td><input type="checkbox" {% if object.tilestache_conf %}checked="checked"{% endif %} data-widget-type="setLayerCached" data-ajax-url="{% url 'qdjango-project-layers-cache' group.slug object.project.slug object.id %}" /></td>
                    <td>{{ object.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}