{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}
{% load guardian_tags %}
{% load svg_icon %}
{% load staticfiles %}

{% block custom_js_links_page %}
<script src="{% static "qdjango/js/widget.js" %}"></script>
<script>
    ga.ui.initSetLayerCached();
    $('#tree').treeview({data:{{ layers_tree|safe }}});
    ga.ui.initDataTable();
</script>
{% endblock %}

{% block page_header %}
<h1>
{% trans 'Qdjango Project Layers' %}
    <small></small>
</h1>
{% endblock %}

{% block main_content %}
{% get_obj_perms user for project as "userPrj_perms" %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{% trans 'Project' %} {{ project.title }}
                {% if "view_project" in userPrj_perms %}
                <a href="{% url 'group-project-map' group.slug 'qdjango' project.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Show map' %}" target="_blank"><i class="ion ion-map"></i></a>
                {% endif %}
                {% if "view_project" in userPrj_perms %}
                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'qdjango-project-detail' group.slug project.slug %}" ><i class="ion ion-eye"></i></a>
                {% endif %}
                {% if "change_project" in userPrj_perms %}
                <a href="{% url 'qdjango-project-update' group.slug project.slug %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                {% endif %}
                </h3>
            </div>
            <div class="box-body">
                {{ project.description }}
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <span class="description">{% trans 'Layers list' %}</span>
    </div>
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_layers_data" data-toggle="tab"><i class="fa fa-file"></i> {% trans 'Data' %}</a></li>
              <li><a href="#tab_layers_structure" data-toggle="tab"><i class="fa fa-list-alt"></i> {% trans 'Structure' %}</a></li>

            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_layers_data">
                <table id="layers_table" class="table table-hover table-striped" data-widget-type="dataTable">
                    <thead>
                        <tr>
                            <th style="width:120px">Actions</th>
                            <th style="width: 40px">Type</th>
                            <!--<th style="width: 40px">{%  trans 'Cached' %}</th>-->
                            <th>{%  trans 'Name' %}</th>
                            <th>{%  trans 'Label' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr id="qdjango_project_layer_{{ object.slug }}">
                            <td>
                                {% g3wadmin_layer_actions object 'qdjango' user as actions %}
                                {% for action in actions %}
                                    {{ action }}
                                {% endfor %}

                                {% if object.layer_type in type_layer_for_widget %}
                                <span class="col-xs-2 icon">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Widgets list' %}" data-widget-type="detailItemDataTable" data-detail-url="{% url 'qdjango-project-layer-widgets' group.slug object.project.slug object.slug %}" ><i class="ion ion-gear-b"></i></a>
                                </span>
                                <span class="label label-info col-xs-2">
                                    {{ object.getWidgetsNumber }}
                                </span>
                                {% endif %}
                            </td>
                            <td>
                                {% include 'qdjango/include/layer_icon.html' %}
                            </td>
                            <td>{{ object.name }}</td>
                            <td>{{ object.title }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div><!-- /.tab-pane -->
              <div class="tab-pane" id="tab_layers_structure">
                <div id="tree"></div>
              </div><!-- /.tab-pane -->

            </div><!-- /.tab-content -->
          </div>






    </div>
</div>
{% endblock %}