{% extends "base.html" %}
{% load static %}
{% load g3wadmin_tags %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_header %}
<h1>
  {% if form.instance.title %}
    {% trans 'QGIS project' %}{{ form.instance.title }}
  {% else %}
    {% trans 'New QGIS project' %}
  {% endif %}
</h1>
{% endblock %}

{% block main_content %}

{% if pre_update_messages %}
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    g3wadmin.ui._buildModal({
      modalTitle:      'Warnings!',
      modalBody:       /* html */ `
      <div class="pre-update-messages">
        {% for message in pre_update_messages %}
          {{ message }}
        {% endfor %}
      </div>`,
      closeButtonText: 'Close',
      confirmButton:   false
    }, 'modal-warning').show();
  });
  </script>
{% endif %}

{% if form.instance.pk %}
  <fieldset style="margin-bottom: 1em;display: flex;gap: 1em;width: max-content;margin: -60px 0 35px auto;">
    <legend hidden>{% trans 'Shortcuts' %}</legend>
    <a
      href="#"
      data-widget-type="detailItem"
      data-detail-url="{% url 'qdjango-project-detail' group.slug form.instance.slug %}"
    >
      <i class="fa fa-info-circle"></i>
      {% trans 'Show detail' %}
    </a>
    <a
      href="{% url 'qdjango-project-layers-list' group.slug form.instance.slug %}"
    >
      <i class="fa fa-bars"></i>
      {% trans 'Layers' %}
    </a>
    <a
      href="{% url 'group-project-map' group.slug 'qdjango' form.instance.pk %}"
      target="_blank"
      style="color:forestgreen"
    >
      <i class="fa fa-external-link"></i>
      {% trans 'Show map' %}
    </a>
  </fieldset>
{% endif %}

<form method="post" id="project-qdjango-form" data-widget-type="ajaxUpload" enctype="multipart/form-data">
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissable">
      <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
      {% trans 'Some errors on form. Check it and send again.' %}
    </div>
  {% endif %}
  {% crispy form %}
  {% g3wadmin_add_button_form %}
</form>
{% endblock %}