{% load i18n %}
{% load g3wadmin_tags %}
<div class="box">
    <div class="box-header">
        {% g3wadmin_add_project 'qdjango' group %}
        <span class="description">Qgis project type</span>
    </div>
    <div class="box-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:120px">Actions</th>
                    <th>Logo</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="col-xs-4 icon">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" ><i class="ion ion-eye"></i></a>
                        </span>
                        <span class="col-xs-4 icon">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                        </span>
                        <span class="col-xs-4 icon">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}" ><i class="ion ion-trash-b"></i></a>
                        </span>
                    </td>
                    <td>Logo</td>
                    <td>Ttitolo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
