{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block custom_css_links_page %}
<link rel="stylesheet" href="{% static "css/dropzone.css" %}">
{% endblock %}


{% block custom_js_links_page %}
<script type="text/javascript" src="{% static "js/dropzone/dropzone.js" %}"></script>
<script src="{% static "js/dropzone/dropzone.django.js" %}"></script>
<script>
    $(function() {
        //initUploadFields($('#project-form'));
    });
</script>
{% endblock %}

{% block page_header %}
<h1>
{% trans 'New Qdjango project' %}
    <small>Create a new qdjango project for current group</small>
</h1>
{% endblock %}

{% block main_content %}

        <form method="post" id="project-qdjango-form" data-widget-type="ajaxUpload" enctype="multipart/form-data">
            {% if form.errors %}
                <div class="row">
                    <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissable">
                        <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
                            {% trans 'Some errors on form. Check it and send again.' %}
                      </div>
                    </div>
                </div>
            {% endif %}
            {% crispy form %}
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-lg btn-success" type="submit">
                        <i class="fa fa-save"></i>
                        {%trans 'Save'%}
                    </button>
                    <a class="btn btn-lg btn-default">
                        <i class="fa fa-backward"></i>
                        {%trans 'Redo/Back'%}
                    </a>
                </div>
            </div>
        </form>
        {% include 'core/django_file_form/upload_template.html' %}
{% endblock %}