{% extends "base.html" %}
{% load i18n %}


{% block page_header %}
    <h1>Iternet
    <small>{% trans 'Report' %}</small>
    </h1>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{ n_accesso }}</h3>
                  <p>Accessi</p>
                </div>
                <div class="icon">
                  <i class="ion ion-location"></i>
                </div>
                <a href="#" class="small-box-footer" data-widget-type="ajaxDownload" data-ajax-url="{% url 'iternet-export-shapefile' 'accesso' %}">Scarica Datapack <i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{ n_giunzione_stradale }}</h3>
                  <p>Giunzioni stradali</p>
                </div>
                <div class="icon">
                  <i class="ion ion-location"></i>
                </div>
                <a href="#" class="small-box-footer" data-widget-type="ajaxDownload" data-ajax-url="{% url 'iternet-export-shapefile' 'giunzione_stradale' %}">Scarica Datapack <i class="fa fa-download"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{ n_elemento_stradale }}</h3>
                  <p>Elementi stradali</p>
                </div>
                <div class="icon">
                  <i class="ion ion-network"></i>
                </div>
                <a href="#" class="small-box-footer" data-widget-type="ajaxDownload" data-ajax-url="{% url 'iternet-export-shapefile' 'elemento_stradale' %}">Scarica Datapack <i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class='box-title'><i class='fa fa-database'></i> {% trans 'Database connection' %} </h3>
                    <div class="box-tools pull-right"><a data-toggle="tooltip" data-placement="top" title="{% trans 'Download QGIS connection XML file' %}" href="{% url 'iternet-download-qgispgconnection-file' %}" style="font-size:20px;"><i class="ion ion-android-download"></i></a></div>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Host</dt>
                        <dd>{{ db_connection.HOST }}</dd>
                        <dt>Port</dt>
                        <dd>{{ db_connection.PORT }}</dd>
                        <dt>Database name</dt>
                        <dd>{{ db_connection.NAME }}</dd>
                        <dt>User</dt>
                        <dd>{{ db_connection.USER }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class='box-title'><i class='fa fa-database'></i> {% trans 'Qdjango Project' %} </h3>
                </div>
                <div class="box-body">
                    {% if config_data %}
                        <div class="row">
                            <div class="col-xs-6">
                                {{ config_data.project }}
                            </div>
                            <div class="col-xs-6">
                            <a href="{% url 'group-project-map' config_data.project.group.slug 'qdjango' config_data.project.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Show map' %}" target="_blank"><i class="ion ion-map"></i></a>
                            <a href="{% url 'qdjango-project-update' config_data.project.group.slug 'qdjango' config_data.project.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Show map' %}" target="_blank"><i class="ion ion-map"></i></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="callout callout-danger">
                            <h4>{% trans "Not yet 'Project' set!" %}</h4>
                            <p>{% trans 'Choose a project' %} <a href="{% url 'iternet-config' %}">{% trans 'HERE' %}</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}