{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_header %}<h1>G3W-CLIENT chooser (beta)</h1>{% endblock %}

{% block main_content %}
  <div class="alert" role="alert" style="border: thin solid;">
    ⚠️ <b>It may take several minutes after sending the request</b>, check server logs before trying it again.
  </div>
  <form id="branch-form" method="post">
    {% csrf_token %}
    <label for="branch_name">Choose a branch:</label>
    <div style="display: flex; gap: .5em;">
      <select id="branch_name" name="branch_name" required autocomplete="off" class="form-control" {% if thread_lock %}disabled data-toggle="tooltip" title="Another process is already running."{% endif %}>
        {% if not current_branch %}
          <option disabled selected></option>
        {% endif %}
        {% for branch in branches %}
          <option value="{{ branch }}" {% if branch == current_branch %}selected{% endif %}>{{ branch }}</option>
        {% endfor %}
      </select>
      {% if thread_lock %}
        <button type="button" onclick="location.reload();" class="btn btn-warning" {% if thread_lock %}data-toggle="tooltip" title="Another process is already running."{% endif %}><i class="fa fa-refresh"></i> Check again</button>
      {% else %}
        <button type="submit" onclick="this.form.setAttribute('data-method','post');"   class="btn btn-success"><i class="fa fa-refresh"></i> Clone and build</button>
        <button type="submit" onclick="this.form.setAttribute('data-method','delete');" class="btn btn-danger" data-toggle="tooltip" data-html="true" title="<b>G3W-ADMIN</b><br><i style='white-space: nowrap;''>{{ g3w_suite_version }}</i>"><i class="fa fa-eraser"></i> Reset default</button>
      {% endif %}
    </div>
  </form>

  <div id="response-message" style="color: red;font-family: Monospace;text-align: center;font-size: 2em;margin: 1em;"></div>

  <b style="margin: 2em 0 1em;display: block;">branch_manager.log</b>
  
  <pre
    style="height:50vh;overflow:auto;background:#222;color:#eee;padding:1em;display:flex;flex-direction: column-reverse;resize: vertical;"
  ><code>{{ branch_manager_log | safe }}</code></pre>

  <div id="actions" style="display: flex; gap: .5em; justify-content: space-between; flex-direction: row-reverse;">
    <button type="button" name="patch" value="clear_logs"    class="btn btn-warning"><i class="fa fa-trash"></i> Clear log</button>
    <button type="button" name="patch" value="collectstatic" class="btn btn-outline" style="color: initial;border-color: currentColor;" {% if thread_lock %}disabled data-toggle="tooltip" title="Another process is already running."{% endif %}><i class="fa fa-cogs"></i> Collect static files</button>
  </div>

  <script>
    (function() {
      // clone | build
      document.getElementById("branch-form").addEventListener("submit", async function(e) {
        e.preventDefault();
        try {
          document.body.insertAdjacentHTML('beforeend', `<div id="startingspinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>`);
          const result    = await (await fetch("", {
            body:    'delete' !== this.getAttribute('data-method') ? new FormData(this) : undefined,
            method:  this.getAttribute('data-method'),
            headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
          })).json();
          const div       = document.getElementById("response-message");
          div.style.color = "success" === result.status ? "green" : "red";
          div.textContent = result.message;
        } finally {
          document.getElementById('startingspinner').remove();
        }
      });
      // clear logs | collectstatic
      document.querySelectorAll("#actions button[name='patch']").forEach(btn => btn.addEventListener("click", async function() {
        if ('collectstatic' === btn.value && !window.confirm("🚨 This might slow down your site, are you sure? ")) {
          return;
        }
        try {
          document.body.insertAdjacentHTML('beforeend', `<div id="startingspinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>`);
          const result = await (await fetch("", {
            method: "PATCH",
            headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value, 'X-Action': btn.value },
          })).json();
          const div = document.getElementById("response-message");
          div.style.color = "success" === result.status ? "green" : "red";
          div.textContent = result.message;
          if (result.status === "success" && 'clear_logs' === btn.value) {
            document.querySelector("pre").textContent = "";
          }
        } finally {
          document.getElementById('startingspinner').remove();
        }
      }));
    })();

    document.head.insertAdjacentHTML(
      'beforeend',
      /* css */`
      <style>
        @keyframes sk-bounce              { 0%, 100% { transform: scale(0.0); } 50% { transform: scale(1.0); } }
        #startingspinner                  { position: fixed; z-index: 100000; height: 10em; width: 10em; overflow: show; margin: auto; inset: 0; }
        #startingspinner .double-bounce1,
        #startingspinner .double-bounce2  { width: 100%; height: 100%; border-radius: 50%; background-color: #f39c12; opacity: .6; position: absolute; top: 0; left: 0; animation: sk-bounce 2.0s infinite ease-in-out; }
        #startingspinner .double-bounce2  { animation-delay: -1.0s; }
      </style>`
    );
  </script>
{% endblock %}