{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block custom_css_links_page %}
<!-- iCheck -->
<link rel="stylesheet" href="{% static "bower_components/icheck/skins/square/blue.css" %}">
{% endblock %}

{% block body_content %}
 <div class="login-box">
  <div class="login-logo">
    <span class="logo-lg">
        {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
            <img src="{{ SETTINGS.G3WSUITE_LOGIN_LOGO   }}">
        {% else %}
            <img src="{% static SETTINGS.G3WSUITE_LOGIN_LOGO %}">
        {% endif %}
    </span>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <div class="login-box-msg">
        <h3>{% trans 'Password reset complete' %}</h3>
        <p>{%  trans 'Your new password has been set. You can log in now on the' %} <a href="{% url 'login' %}"> {% trans 'log in page' %}</a>.</p>
    </div>
  </div><!-- /.login-box-body -->
 <div style="text-align: center; color: grey; margin-top: 10px"><i>{% trans ' Version' %} {{ VERSION }}</i></div>
</div><!-- /.login-box -->

{% endblock %}