{% load guardian_tags %}
{% load i18n %}

<div class="col-md-4">
    <div class="box box-solid bg-yellow-gradient">
    <div class="box-header">
        <!-- tools box -->
        <div class="pull-right box-tools">
            <button class="btn btn-primary btn-sm bg-orange pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
        </div><!-- /. tools -->

        <i class="fa fa-building"></i>
        <h3 class="box-title">
            CDU
        </h3>
    </div>
    <div class="box-body">
        <div>
            {% trans 'CDU module administration' %}
        </div>
    </div><!-- /.box-body-->
    <div class="box-footer no-border">
        <div class="row">
            {% if perms.cdu.change_configs %}
            <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4;">
                <div class="dashboard-box-footer-icon">

                    <a href="{% url 'cdu-config-list'  %}">
                        <i class="fa fa-list"></i><br>
                        <span class="dashboard-box-footer-text">{% trans 'Profiles' %}</span>
                    </a>
                </div>
            </div><!-- ./col -->
            {% endif %}
            {% if perms.cdu.add_configs %}
            <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4;">
                <div class="dashboard-box-footer-icon">
                    <a href="{% url 'cdu-config-add'  %}">
                        <i class="fa fa-plus"></i><br>
                        <span class="dashboard-box-footer-text">{% trans 'New profile' %}</span>
                    </a>
                </div>
            </div><!-- ./col -->
            {% endif %}
            {% if data|length > 0 %}
            <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4;">
                <div class="dashboard-box-footer-icon">
                    <a href="#" data-widget-type="makeCduList" data-html-list-id="#make_cdu_list">
                        <i class="fa fa-map"></i><br>
                        <span class="dashboard-box-footer-text">{% trans 'Make CDU' %}</span>
                    </a>
                </div>
            </div><!-- ./col -->
            {% endif %}
        </div><!-- /.row -->
    </div>
</div>
</div>

<div id="make_cdu_list" class="hidden">
    <ul class="list-unstyled">
    {% for object in data %}
        {% get_obj_perms user for object as "userObj_perms" %}
        {% if "make_cdu" in userObj_perms %}
        <li><h4> {{ object.title }} <a href="{% url 'group-project-map' object.project.group.slug 'qdjango' object.project.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Show map' %}" target="_blank"><i class="fa fa-map"></i> {% trans 'Make CDU' %}</a></h4></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>