{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load g3wadmin_tags %}
{% load i18n %}

{% block page_header %}
<h1>
  {% trans 'System users' %}
  <small>Stystem users list and property</small>
</h1>
{% endblock %}

{% block main_content %}
<form method="post" id="user-form" data-widget-type="ajaxUpload" enctype="multipart/form-data">
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissable">
      <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
      {% trans 'Some errors on form. Check it and send again.' %}
    </div>
  {% endif %}
  {% crispy form %}
  {% g3wadmin_add_button_form %}
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const DATA = {{ cleaned_data|safe }};
  const q    = document.querySelector.bind(document);

  $('#id_groups').on('change', async function(e) {
    const roles = $(e.target).val();
    if (!roles) {
      return;
    }
    const res = await (await fetch(`{% url 'user-group-by-user-role' %}`, {
        method: 'POST',
        body:  new URLSearchParams([
          ...roles.map(id => ["roles[]", id]),
          ["user_id", {{ form.instance.pk|default:'null' }}],
          ["csrfmiddlewaretoken", $.cookie('csrftoken')],
        ]),
    })).json();
    $("#id_user_groups_viewer").html('');
    $("#id_user_groups_viewer").select2({
      data: res.user_groups.filter(group => 'viewer' === group.role).map(group => {
        if (!group.selected && DATA.user_groups_viewer.includes(group.id)) {
          group.selected = true;
        }
        return group;
      })
    });
    $("#id_user_groups_editor").html('');
    $("#id_user_groups_editor").select2({
      data: res.user_groups.filter(group => 'editor' === group.role).map(group => {
        if (!group.selected && DATA.user_groups_editor.includes(group.id)) {
          group.selected = true;
        }
        return group;
      })
    });
  });

  document.querySelectorAll('#id_is_superuser, #id_is_staff').forEach(el => el.addEventListener('click', () => q('#id_groups').toggleAttribute('required', !(q('#id_is_superuser').checked || q('#id_is_staff').checked))));

  q('#id_groups').toggleAttribute('required', !(q('#id_is_superuser').checked || q('#id_is_staff').checked));

  $('#id_groups').trigger('change');

  // initUploadFields(document.getElementById("user-form"));
});
</script>
{% endblock %}