{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}

{% block page_header %}
<div class="dash-hero">
  <div class="row">
    <div class="col-md-8">
      <h1><i class="fa fa-users"></i> {% trans 'User groups' %}</h1>
      <p>{% trans 'Group users together by role to grant shared access permissions.' %}</p>
    </div>
    <div class="col-md-4 text-right hero-meta">
      <i class="fa fa-object-group"></i> {{ object_list|length }} {% trans 'groups' %}
    </div>
  </div>
</div>
{% endblock %}

{% block main_content %}

{# ---- Toolbar ---- #}
<div class="filter-toolbar">
    <span class="filter-toolbar-title">
        <i class="fa fa-id-badge"></i> {% trans 'All user groups' %}
    </span>
    {% if perms.auth.add_group %}
    <a class="qa-btn" href="{% url 'user-group-add' %}">
        <i class="fa fa-plus-circle"></i> {% trans 'New user group' %}
    </a>
    {% endif %}
</div>

{# ---- User groups table card ---- #}
<div class="users-panel">
    <table id="users_table" class="table users-table" data-widget-type="dataTable">
        <thead>
            <tr>
                <th style="width:120px">{% trans 'Actions' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Role' %}</th>
                <th>{% trans 'Users' %}</th>
                <th class="hidden-sm hidden-xs">{% trans 'Created' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% get_obj_perms user for object as "userObj_perms" %}
            <tr id="user_group_{{ object.pk }}">
                <td data-label="{% trans 'Actions' %}">
                    <div class="user-actions">
                        <a class="user-action" href="#"
                           data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}"
                           data-widget-type="detailItem"
                           data-detail-url="{% url 'user-group-detail' object.id %}">
                            <i class="ion ion-eye"></i>
                        </a>
                        {% if "change_group" in userObj_perms %}
                        <a class="user-action" href="{% url 'user-group-update' object.id %}"
                           data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}">
                            <i class="ion ion-edit"></i>
                        </a>
                        {% endif %}
                        {% if "delete_group" in userObj_perms %}
                        <a class="user-action danger" href="#"
                           data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"
                           data-widget-type="deleteItem"
                           data-delete-url="{% url 'user-group-delete' object.pk %}"
                           data-item-selector="#user_group_{{ object.pk }}">
                            <i class="ion ion-trash-b"></i>
                        </a>
                        {% endif %}
                    </div>
                </td>
                <td data-label="{% trans 'Name' %}">
                    <span class="user-username">
                        <i class="fa fa-users"></i>
                        {{ object.name }}
                    </span>
                </td>
                <td data-label="{% trans 'Role' %}">
                    <div class="role-badges">
                    {% if object.grouprole.role == 'viewer' %}
                        <span class="role-badge role-viewer">{{ object.grouprole.role|upper }}</span>
                    {% else %}
                        <span class="role-badge role-editor1">{{ object.grouprole.role|upper }}</span>
                    {% endif %}
                    </div>
                </td>
                <td data-label="{% trans 'Users' %}">
                    {% get_users4groups user object as users %}
                    <div class="role-badges">
                    {% for u in users %}
                        <a class="role-badge role-usermember" href="{% url 'user-update' u.pk %}"
                           title="{{ u.first_name }} {{ u.last_name }}">
                            <i class="fa fa-user"></i>
                            {% if u.first_name or u.last_name %}{{ u.first_name }} {{ u.last_name }}{% else %}{{ u }}{% endif %}
                        </a>
                    {% empty %}
                        <span class="users-empty">{% trans 'No users' %}</span>
                    {% endfor %}
                    </div>
                </td>
                <td class="hidden-sm hidden-xs" data-label="{% trans 'Created' %}"
                    data-order="{{ object.grouprole.created.timestamp|floatformat:"0" }}">
                    <span class="user-date">{{ object.grouprole.created|date:"SHORT_DATE_FORMAT" }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

