{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}
{% load l10n %}

{{ pippo|localize }}

{% block custom_js_links_page %}
    <script>
        let data_url = '{% url "users-list-api" %}';
        let user_is_superuser = '{{ user.is_superuser }}';
        let user_is_staff = '{{ user.is_staff }}';
        let user_roles = [{{ user_roles|safe }}];

        // General roles
        const G3W_EDITOR1 = '{{ G3W_EDITOR1 }}';
        const G3W_EDITOR2 = '{{ G3W_EDITOR2 }}';


        const filter_inputs_values = [1, 2, 3, 4, 8, 9, 10];

        $('#users_table thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#users_table thead');

        columns = [
                    {
                        data: 'id',
                        orderable: false,
                         render: function ( data, type, row, meta ) {
                            if (row['backend'] == 'g3wsuite') {
                            return '<span class="col-xs-4 icon"><a href="{% url 'user-list' %}update/'+data+'/" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a></span>' +
                                    '<span class="col-xs-4 icon"><a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"><i class="ion ion-trash-b"></i></a></span>'
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        data: 'id',
                        orderable: true
                    },
                    {
                        data: 'username',
                        orderable: true
                    }
                ]



            if (user_is_superuser == 'True' || _.indexOf(user_roles, 'Editor Level 1') != -1) {
                columns = columns.concat([{
                    data: 'roles',
                    orderable: false,
                    render: function (data, type, row, meta) {

                        ret = ''
                        for (let i = 0; i < data.length; i++) {
                            if (data[i] == '{{ G3W_EDITOR1  }}') {
                                ret += '<span class="label label-danger">' + data[i] + '</span> ';
                            } else if (data[i] == '{{ G3W_EDITOR2  }}') {
                                ret += '<span class="label bg-purple">' + data[i] + '</span> ';
                            } else {
                                ret += '<span class="label label-success">' + data[i] + '</span> ';
                            }
                        }
                        return ret;
                    }

                },
                {
                    data: 'groups',
                    orderable: false,
                    render: function (data, type, row, meta) {
                        ret = ''
                        for (let i = 0; i < data.length; i++) {
                            ret += '<span class="label label-warning">' + data[i] + '</span> ';
                        }
                        return ret;
                    }
                }])

                if (user_is_superuser == 'True') {
                    columns = columns.concat([
                        {
                            data: 'macrogroups',
                            orderable: true
                        }])
                 }
            }


            if (user_is_superuser == 'True' || user_is_staff == 'True') {
                columns = columns.concat([{
                            data:'is_superuser',
                            orderable: true,
                            render: function( data, type, row, meta ){
                                ret = '';
                                if (data)
                                    ret = '<span class="fa fa-check-circle" style="color: orange"></span>';

                                return ret;
                            }
                        },
                        {
                            data: 'is_staff',
                            orderable: true,
                            render: function( data, type, row, meta ){
                                ret = '';
                                if (data)
                                    ret = '<span class="fa fa-check-circle" style="color: orange"></span>';

                                return ret;
                            }
                        }])
            }

            columns = columns.concat([{
                        data: 'email',
                        orderable: true
                    },
                    {
                        data: 'first_name',
                        orderable: true
                    },
                    {
                        data: 'last_name',
                        orderable: true
                    },
                     {
                        data: 'date_joined',
                        orderable: true
                    }
                ])

        if (user_is_superuser == 'True') {
            columns = columns.concat([{
                data: 'backend',
                orderable: false
            }]);
        }

        $(document).ready(function () {
            const dataTable = $('#users_table').DataTable({
                'order': [[1, 'desc']],
                'processing': false,
                'serverSide': true,
                'searching': false,
                "scrollX": true,

                "initComplete": function () {


                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            if (_.indexOf(filter_inputs_values, colIdx) != -1){
                                $(cell).html('<input style="width: 120px;" type="text" placeholder="' + title + '" />');
                            } else {
                                $(cell).html('<input style="width: 120px;" type="hidden" />');
                            }

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                })
                                .on('click', function (e) {
                                    e.stopPropagation();
                                });
                        });



                },



                'ajax': {
                    url: data_url,
                    dataSrc: 'data',
                },

                'columns': columns
            })

            dataTable.on('init', dataTable.columns.adjust);
        });
    </script>

{% endblock %}

{% block page_header %}
    <h1>
        {% trans 'Users' %}
      </h1>
{% endblock %}

{% block main_content %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            {% if perms.auth.add_user %}
            <a href="{% url 'user-add' %}" class="btn btn-info"><i class="ion ion-plus-circled"></i> {% trans 'User' %}</a>
            {% endif %}
        </div>
        <div class="box-body">
            <table id="users_table" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width:120px">{% trans 'Actions' %}</th>
                        <th>{% trans 'ID' %}</th>
                        <th>{% trans 'Username' %}</th>
                        {% if user.is_superuser or user|has_group:G3W_EDITOR1 %}
                        <th>{% trans 'Roles' %}</th>
                        <th>{% trans 'User groups' %}</th>
                        {% if user.is_superuser %}
                        <th>{% trans ' Macro groups' %}</th>
                        {% endif %}
                        {% endif %}

                        {% if user.is_staff and user.is_superuser %}
                        <th>{% trans 'Superuser' %}</th>
                        <th>{% trans 'Staff' %}</th>
                        {% endif %}
                        <th>Email</th>
                        <th>{% trans 'First name' %}</th>
                        <th>{% trans 'Last name' %}</th>
                        <th>{% trans 'Created' %}</th>
                        {% if user.is_staff %}
                        <th>{% trans 'Backend' %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
