{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}

{% block page_header %}
    <h1>
        {% trans 'Users' %}
      </h1>
{% endblock %}

{% block main_content %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            {% if perms.auth.add_user %}
            <h3 class="box-title"><a href="{% url 'user-add' %}"><i class="ion ion-plus-circled"></i></a> {% trans 'Users' %}</h3>
            {% endif %}
        </div>
        <div class="box-body">
            <table id="users_table" class="table table-hover table-striped" data-widget-type="dataTable">
                <thead>
                    <tr>
                        <th style="width:120px">{% trans 'Actions' %}</th>
                        <th>{% trans 'Username' %}</th>
                        {% if user.is_superuser %}
                        <th>{% trans 'Group' %}</th>
                        <th>{% trans 'Superuser' %}</th>
                        {% endif %}
                        {% if user.is_staff and user.is_superuser %}
                        <th>{% trans 'Staff' %}</th>
                        {% endif %}
                        <th class="hidden-sm hidden-xs">Email</th>
                        <th class="hidden-sm hidden-xs">{% trans 'First name' %}</th>
                        <th class="hidden-sm hidden-xs">{% trans 'Last name' %}</th>
                    </tr>
                </thead>
                {% for object in object_list %}
                    {% get_obj_perms user for object as "userObj_perms" %}
                    <tr id="user_{{ object.pk }}">
                        <td>
                            <span class="col-xs-4 icon">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'user-detail' object.id %}"><i class="ion ion-eye"></i></a>
                            </span>
                            <span class="col-xs-4 icon">
                                {% if "change_user" in userObj_perms %}
                                <a href="{% url 'user-update' object.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                                {% endif %}
                            </span>
                            <span class="col-xs-4 icon">
                                {% if "delete_user" in userObj_perms %}
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"  data-widget-type="deleteItem" data-delete-url="{% url 'user-delete' object.pk %}" data-item-selector="#user_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                                {% endif %}
                            </span>
                        </td>
                        <td>{{ object.username }}</td>
                        {% if user.is_superuser %}
                        <td>
                        {% for group in object.groups.all %}
                            {% if group.name == G3W_EDITOR1 or group.name == G3W_EDITOR2 %}
                                <span class="label label-danger">{{ group }}</span>
                            {% else %}
                                <span class="label label-success">{{ group }}</span>
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>
                        {% if object.is_superuser %}
                            <span class="fa fa-check-circle" style="color: orange"></span>
                        {% endif %}
                        </td>
                        {% endif %}
                        {% if user.is_staff and user.is_superuser %}
                        <td>
                        {% if object.is_staff %}
                            <span class="fa fa-check-circle" style="color: orange"></span>
                        {% endif %}
                        </td>
                        {% endif %}
                        <td class="hidden-sm hidden-xs">{{ object.email }}</td>
                        <td class="hidden-sm hidden-xs">{{ object.first_name }}</td>
                        <td class="hidden-sm hidden-xs">{{ object.last_name }}</td>
                    </tr>

                {% endfor %}
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
