{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}

{% block page_header %}
    <h1>
        {% trans 'User groups' %}
      </h1>
{% endblock %}

{% block main_content %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            {% if perms.auth.add_group %}
            <a class="btn btn-info" href="{% url 'user-group-add' %}"><i class="ion ion-plus-circled"></i> {% trans 'User group' %}</a>
            {% endif %}
        </div>
        <div class="box-body">
            <table id="users_table" class="table table-hover table-striped" data-widget-type="dataTable">
                <thead>
                    <tr>
                        <th style="width:120px">{% trans 'Actions' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Role' %}</th>
                        <th>{% trans 'Users' %}</th>
                        <th>{% trans 'Created' %}</th>
                    </tr>
                </thead>
                {% for object in object_list %}
                    {% get_obj_perms user for object as "userObj_perms" %}
                    <tr id="user_group_{{ object.pk }}">
                        <td>
                            <span class="col-xs-4 icon">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'user-group-detail' object.id %}"><i class="ion ion-eye"></i></a>
                            </span>
                            <span class="col-xs-4 icon">
                                {% if "change_group" in userObj_perms %}
                                <a href="{% url 'user-group-update' object.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                                {% endif %}
                            </span>
                            <span class="col-xs-4 icon">
                                {% if "delete_group" in userObj_perms %}
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"  data-widget-type="deleteItem" data-delete-url="{% url 'user-group-delete' object.pk %}" data-item-selector="#user_group_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                                {% endif %}
                            </span>
                        </td>
                        <td>{{ object.name }}</td>
                        <td>
                            {% if object.grouprole.role == 'viewer' %}
                            <span class="label label-success">{{ object.grouprole.role|upper }}</span>
                            {% else %}
                            <span class="label label-danger">{{ object.grouprole.role|upper }}</span>
                            {% endif %}
                        </td>
                        <td>{% get_users4groups user object as users %}
                            {% for u in users %}
                            <a href="{% url 'user-update' u.pk %}">{{ u.first_name }} {{ u.last_name }} ({{ u }})</a> {% if not forloop.last %} | {% endif %}
                            {% endfor %}
                        </td>
                        <td class="hidden-sm hidden-xs" data-order="{{ object.grouprole.created.timestamp|floatformat:"0" }}">{{ object.grouprole.created|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>

                {% endfor %}
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
