Django==1.9.12
django-autoslug
django-formtools
django-crispy-forms
django-extensions
django-file-form
django-guardian
django-model-utils
django-sitetree
djangorestframework
djangorestframework-gis
django-filter
django-downloadview
django-debug-toolbar
django-debug-panel
django-mptt
django-ordered-model
pathlib
shapely
GeoAlchemy2
lxml
psycopg2
pillow
owslib
defusedxml
SQLAlchemy
django-import-export
coverage
uwsgi



