{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" id="editing_layer_form" class="editing-active-form">
    <div class="editing-active-shell">

        <div class="error-form-message hidden">
            <div class="form-alert form-alert-error">
                <i class="fa fa-exclamation-triangle"></i>
                <div>
                    <strong>{% trans 'Some errors on form' %}</strong>
                    <span>{% trans 'Check the highlighted fields and submit again.' %}</span>
                </div>
            </div>
        </div>

        {% if multilayer %}
        <div class="form-alert form-alert-warning">
            <i class="fa fa-exclamation-circle"></i>
            <div>
                <strong>{% trans 'Important' %}</strong>
                <span>{% trans 'The following settings will be applied to all the layers indicated and will overwrite the settings set at the single layer level.' %}</span>
            </div>
        </div>
        {% endif %}

        <div class="editing-active-body">
            {% crispy form %}
        </div>

    </div>

    <script>
        ga.Editing.widget.initial_atomic_capabilities = {{ initial_atomic_capabilities|safe }};
        ga.Editing.widget.multilayer = {{ multilayer|lower }};
        ga.Editing.widget.layerinfobaseurl = '/qdjango/api/info/layer/';
        ga.Editing.widget.init();
    </script>
</form>
