{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" id="editing_layer_form">
    <div class="row">
        <div class="col-md-12 error-form-message hidden">
            <div class="alert alert-danger alert-dismissable">
                <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
                    {% trans 'Some errors on form. Check it and send again.' %}
            </div>
        </div>
        {% if multilayer %}
        <div class="col-md-12">
            <div class="alert alert-warning">
                <h4><i class="icon fa fa-warning"></i> {% trans 'Important' %}!</h4>
                    {% trans 'The following settings will be applied to all the layers indicated and will overwrite the settings set at the single layer level' %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
        {% crispy form %}
        </div>
    </div>
    <script>

        /* Set for widget initial atomic capabilities */
        ga.Editing.widget.initial_atomic_capabilities = {{ initial_atomic_capabilities|safe }};
        ga.Editing.widget.multilayer = {{ multilayer|lower }};
        ga.Editing.widget.layerinfobaseurl= '/qdjango/api/info/layer/';
        ga.Editing.widget.init();
    </script>
</form>