{% load i18n %}
{% load static %}

<span class="col-xs-1 icon">
<a class="layer-action" {% if active %}style="color: green;"{% endif %} data-toggle="tooltip" title="{% trans 'Editing layer' %}"
   data-widget-type="ajaxForm"
   data-form-url="{% url 'editing-layer-active' layer.project.group.slug app_name layer.project.slug layer.id %}"
   data-modal-title="{% trans 'Activation layer_editing' %}">
    <i class="fa {% if active %}fa-pencil-square{% else %}fa-pencil-square-o{% endif %}"></i>
</a>
</span>
<span class="label label-info col-xs-1"></span>
{% if active %}

{% endif %}
