{% load i18n %}
{% load static %}
{% load auth_extras %}
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">

        <li>
            <div class="has-feedback" style="margin-top:10px; color: #fff;">
                <form action="{% url 'search-admin' %}">
                <input type="text" name="stext" class="form-control input-sm search-admin-input"
                       placeholder="{% trans 'Search' %}">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </form>
            </div>
        </li>
        {% for item in navbar_items %}
        <li>
            {{ item }}
        </li>
        {% endfor %}
        {% if SETTINGS.FRONTEND %}
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                    <span class="hidden-xs">{% trans 'Frontend' %}</span>
                </a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{ user }}</span>
            </a>
            <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                    {%  if user.userdata.avatar %}
                    <img src="{{ MEDIA_URL }}{{ user.userdata.avatar }}" class="img-resposive img-thumbnail img-circle" alt="User Image">
                    {% endif %}
                    <p>
                        {{ user.first_name }} {{ user.last_name }}
                        <small>{% trans 'Registered on' %} {{ user.date_joined }}</small>
                        <small>{% trans 'Last login' %} {{ user.last_login }}</small>
                    </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="{% url 'user-update' user.pk %}" class="btn btn-default btn-flat"><i class="fa fa-folder"></i> {% trans 'Profile' %}</a>
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'logout' %}{% if SETTINGS.FRONTEND %}?next={% url 'frontend' %}{% endif %}" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> {% trans 'Logout' %}</a>
                    </div>
                </li>
            </ul>
        </li>
        {% get_available_languages as languages %}
        {% get_current_language as LANGUAGE_CODE %}
        {% if SETTINGS.USE_I18N and languages|length > 1 %}
        <li>
        <form action="{% url "set_language" %}" method="post" class="navbar-form navbar-right">
        {% csrf_token %}
        <div class="form-group" style="background: None;">
            <select id="language-select" name="language" class="form-control select2" onchange="this.form.submit()" style="width: 120px;">
            {% for language in languages %}
            <option value="{{ language.0 }}"
                {% if language.0 == LANGUAGE_CODE %}selected="selected"{% endif %}>
                {{ language.1 }}
            </option>
            {% endfor %}
            </select>
        </div>
        </form>
        </li>
        {% endif %}
        <!-- Control Sidebar Toggle Button -->
        <li>
        {% if user.is_superuser or user|has_group:G3W_EDITOR1 %}
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        {% else %}
        <span style=" display:inline-block; width: 45px;"></span>
        {% endif %}
        </li>
        {% endif %}
    </ul>
</div>