{% load i18n %}
{% load staticfiles %}
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                {% if user.image %}
                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                {% else %}
                <i class="fa fa-user"></i>
                {% endif %}
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{ user }}</span>
            </a>
            <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                    {%  if user.userdata.avatar %}
                    <img src="{{ MEDIA_URL }}{{ user.userdata.avatar }}" class="img-resposive img-thumbnail img-circle" alt="User Image">
                    {% endif %}
                    <p>
                        {{ user.first_name }} {{ user.last_name }}
                        <small>{% trans 'Registered on' %} {{ user.date_joined }}</small>
                        <small>{% trans 'Last login' %} {{ user.last_login }}</small>
                    </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="{% url 'user-update' user.pk %}" class="btn btn-default btn-flat"><i class="fa fa-folder"></i> {% trans 'Profile' %}</a>
                    </div>
                    <div class="pull-right">
                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> {% trans 'Sign out' %}</a>
                    </div>
                </li>
            </ul>
        </li>
        {% endif %}
        <!-- Control Sidebar Toggle Button -->
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>
</div>