{% load i18n %}
{% load g3wadmin_tags %}

<a href="#" class="{% if mode_btn %}btn btn-info{% endif %}" onclick="event.preventDefault(); g3wadmin.ui._buildModal({ modalTitle: 'Add a project', modalBody: $(this).next('.add-links').html(), closeButtonText: 'No' })?.show()">
  {% if mode_btn %}
    <i class="fa fa-plus-circle"></i> {% trans 'Add project' %}
  {% else %}
    {% trans add_project_title %} <i class="fa fa-plus-circle"></i>
  {% endif %}
</a>

<div class="hidden add-links">
  <p>{% trans 'Select project type to add:' %}</p>
  {% for app in SETTINGS.G3WADMIN_PROJECT_APPS %}
    {% g3wadmin_add_project app object %}
  {% endfor %}
</div>
