/*
 * Skin: Blue
 * ----------
 */
.skin-green .ol-control button,
.skin-green .ol-custom-overviewmap button {
  background-color: #00a65a;
}
.skin-green .sidebar-aside-toggle,
.skin-green .controls-aside-toggle {
  background-color: #00a65a;
}
.skin-green .ol-geocoder #search_nominatim {
  background-color: #00a65a;
}
