<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta charset="utf-8" />
<title>Home Page SIT - AVMTB</title>
<link href="/custom_static/css/home.css" rel="stylesheet"/>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /><meta name="viewport" content="width=device-width" /></head>
<body>
</script>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<p class="site-title">
					<a href="/"><img id="Image1" src="/custom_static/img/logo.gif" /></a>
					&nbsp; <a href="/">Area Vasta Metropoli Terra di Bari</a>
				</p>
			</div>
		</div>
	</header>
	<div id="body">
	    <section class="featured">
			<div class="content-wrapper">
				<hgroup class="title">
					<h1>Servizi del Sistema Informativo Territoriale</h1>
				</hgroup>
			</div>
		</section>
		<section class="content-wrapper main-content clear-fix">
		<div id="textinfo">
			<h3>
			ATTENZIONE: Hai richiesto una pagina non più attiva, questo potrebbe dipendere dalle informazioni memorizzate sul tuo browser.<br>
			Per poter accedere al sistema clicca <a href="http://sit.egov.ba.it/it/">QUI</a> oppure cancella al cache del tuo browser, attraverso la combinazione dei tasti CTRL+SHIFT+CANC.<br>
			</h3>
		</div>
</div>


</body>
</html>


