{% load static %}
{% load sitetree %}
{% load i18n %}
{% load auth_extras %}
{% get_available_languages as languages %}
{% get_current_language as lang %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{{ admin_page_title }}</title>

    <link rel="icon" href="{% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL and SETTINGS.G3WSUITE_FAVICON %}{{ SETTINGS.G3WSUITE_FAVICON }}{% else %}{% static '/img/favicon.ico' %}{% endif %}">

    <!-- Loading bar -->
    <style>
      @keyframes sk-bounce                      { 0%, 100% { transform: scale(0.0); } 50% { transform: scale(1.0); } }
      #startingspinner                          { position: fixed; z-index: 100000; height: 10em; width: 10em; overflow: show; margin: auto; inset: 0; }
      #startingspinner .double-bounce1,
      #startingspinner .double-bounce2          { width: 100%; height: 100%; border-radius: 50%; background-color: #00a65a; opacity: .6; position: absolute; top: 0; left: 0; animation: sk-bounce 2.0s infinite ease-in-out; }
      #startingspinner .double-bounce2          { animation-delay: -1.0s; }
      #startingspinner:before                   { position: fixed; inset: 0; display: block; content: ''; cursor: progress; background: rgb(236, 240, 245,.8); }
      body:not(.fetch-running) #startingspinner { display: none; }
    </style>
    <script>
      (function() {
        const oFetch = window.fetch;
        window.fetch = async (...args) => {
          document.body.classList.add('fetch-running');
          try {
            return await oFetch(...args);
          } catch(e) {
            g3wadmin?.widget?.showError(e);
            throw e;
          } finally {
            document.body.classList.remove('fetch-running');
          }
        };
      })()
    </script>

    <link rel="stylesheet" href="{% static "css/g3wadmin.css"%}">

    {% block custom_css_links_page %}{% endblock %}

    <!-- CSS modules -->
    {% for css in css_modules %}
      <link rel="stylesheet" href="{% static css %}" />
    {% endfor %}

    <!-- Custom CSS -->
    {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
      {% for css in SETTINGS.G3WSUITE_CUSTOM_CSS %}
        <link rel="stylesheet" href="{{ css }}" />
      {% endfor %}
    {% endif %}

    <!-- Analytics JS -->
    {% if analytics_js_code %}
      {{ analytics_js_code|safe }}
    {% endif %}

  </head>
  {% comment %} TODO: deprecate "adminlte_skin" and "adminlte_layout_option"? {% endcomment %}
  <body class="{{ adminlte_skin }} {{ adminlte_layout_option }} {{ sidebar_status }} {{ request.resolver_match.view_name }}">

  {% block body_content %}

    <header>
      <a href="{% url 'home' %}" class="logo">
        <span class="logo-mini"><img src="{% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}{{ SETTINGS.G3WSUITE_RID_LOGO }}{% else %}{% static SETTINGS.G3WSUITE_RID_LOGO %}{% endif %}"></span>
        <span class="logo-lg"><img src="{% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}{{ SETTINGS.G3WSUITE_MAIN_LOGO }}{% else %}{% static SETTINGS.G3WSUITE_MAIN_LOGO %}{% endif %}"></span>
      </a>
      <nav class="navbar" style="display: flex; justify-content: start; height: 50px;">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" onclick="event.preventDefault();document.body.classList.toggle('sidebar-collapse'); $.cookie('g3wadmin_sidebar_status', document.body.classList.contains('sidebar-collapse') ? 'collapsed' : 'expanded', { path: '/' });">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <ul class="nav-links" style="display: flex;  list-style: none;  margin: 0;">
          <!-- Search bar -->
          <li class="nav-search">
            <div class="has-feedback">
              <form action="{% url 'search-admin' %}" onkeydown="if ('Escape' === event.key) event.target.blur();">
                <input type="text" name="stext" class="form-control" placeholder="{% trans 'Search' %}" />
                <button type="submit" class="btn fa fa-search"><span class="sr-only">{% trans 'Search' %}</span></button>
              </form>
            </div>
          </li>
          {% if user.is_staff %}
            <li>
              <g3w-dialog url="{% url 'systeminfo'%}" modal-title="{% trans 'System information' %}">
                <a href="#" slot="modal-button" data-toggle="tooltip" data-placement="bottom" title="{% trans 'System information' %}">
                  <i class="fa fa-question-circle-o"></i>
                </a>
              </g3w-dialog>
              <script type="module" src="{% static "components/g3w-dialog.js" %}"></script>
            </li>
          {% endif %}
          {% for item in navbar_items %}
            <li>{{ item }}</li>
          {% endfor %}
          <!-- User menu -->
          {% if user.is_authenticated %}
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i><span class="hidden-xs"> {{ user }}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  {%  if user.userdata.avatar %}
                    <img src="{{ MEDIA_URL }}{{ user.userdata.avatar }}" class="img-resposive img-thumbnail img-circle" alt="User Image">
                  {% endif %}
                  <p>
                    {{ user.first_name }} {{ user.last_name }}
                    <small>{% trans 'Registered on' %}: {{ user.date_joined|date }}</small>
                    <small>{% trans 'Last login' %}: {{ user.last_login|date }}</small>
                  </p>
                </li>
                <li class="user-footer">
                  <a href="{% url 'user-update' user.pk %}" class="btn btn-default btn-flat"><i class="fa fa-folder"></i> {% trans 'Profile' %}</a>
                  <a href="{% url 'logout' %}{% if SETTINGS.FRONTEND %}?next={% url 'frontend' %}{% endif %}" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> {% trans 'Logout' %}</a>
                </li>
              </ul>
            </li>
          {% endif %}
          <!-- Language switcher -->
          {% if user.is_authenticated and SETTINGS.USE_I18N and languages|length > 1 %}
            <li class="nav-lang">
              <form action="{% url "set_language" %}" method="post">
                {% csrf_token %}
                <select id="language-select" name="language" class="form-control select2" onchange="this.form.submit()" style="width: 120px;">
                  {% for language in languages %}
                    <option value="{{ language.0 }}" {% if language.0 == lang %}selected="selected"{% endif %}>{{ language.1 }}</option>
                  {% endfor %}
                </select>
              </form>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <aside>
      <ul>
        <!-- CORE -->
        {% sitetree_menu from "core" include "trunk" template "sitetree/sidebar.html" %}
        <!-- ACL -->
        {% sitetree_menu from "acl" include "trunk" template "sitetree/sidebar.html" %}
        {% for plugin in SETTINGS.G3WADMIN_LOCAL_MORE_APPS|add:SETTINGS.G3WADMIN_PROJECT_APPS %}
          <!-- {{ plugin }} -->
          {% sitetree_menu from plugin include "trunk" template "sitetree/sidebar.html" %}
        {% endfor %}
        {% for module in SETTINGS.G3WADMIN_PROJECT_APPS %}
        {% sitetree_menu from module include "trunk" template "sitetree/sidebar.html" %}
        {% endfor %}
        {% sitetree_menu from "client" include "trunk" template "sitetree/sidebar.html" %}
        </section>
        <!-- /.sidebar -->
      </aside>

    <main>

      {% if user.is_staff %}
        <a href="{% url 'admin:index' %}" style="float: right;padding: 8px;" title="{% trans 'Go to staff administration section' %}">
          <i class="fa fa-cogs"></i> {% trans 'Django' %}
        </a>
      {% endif %}

      {% if SETTINGS.FRONTEND %}
        <a href="/" style="float: right;padding: 8px;"><i class="fa fa-external-link"></i> {% trans 'Frontend' %}</a>
      {% endif %}

      {% block breadcrumb %}
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">{% trans 'Dashboard' %}</a></li>
          {% sitetree_breadcrumbs from "core" template "sitetree/breadcrumbs_bootstrap3.html" %}
          {% sitetree_breadcrumbs from "acl" template "sitetree/breadcrumbs_bootstrap3.html" %}
          {% for module in SETTINGS.G3WADMIN_LOCAL_MORE_APPS %}
            {% sitetree_breadcrumbs from module template "sitetree/breadcrumbs_bootstrap3.html" %}
          {% endfor %}
        </ol>
      {% endblock %}

      <section class="content">
        {% block page_header %}<h1>Page Header <small>Optional description</small></h1>{% endblock %}

        {% if messages %}
          <div id="page_user_messages">
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags|lower }}{% else %}default{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Ok!</h4>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% block main_content %}{% endblock %}
      </section>
    </main>

    <footer>
      {% if powerd_by %}
      <span>{% block footer-right %}<b>G3W-SUITE</b> {{ VERSION }}{% endblock %}</span>
      <b><span style="vertical-align: middle;font-size: large;">&copy;</span> 2015 - {{ today.year }} <a href="http://www.gis3w.it" target="_blank" title="Gis3w s.n.c"><img src="{% static "" %}/img/logo_gis3w_156_85.png" alt="Gis3w s.n.c" width="60"></a></b>
      {% endif %}
    </footer>
  {% endblock %}

    <!-- Server settings -->
    <script>
      SETTINGS = {
        CURRENT_LANGUAGE_CODE:     '{{ lang }}',
        FRONTEND:                  {% if SETTINGS.FRONTEND %}true{% else %}false{% endif %},
        SITE_PREFIX_URL:           {% if SETTINGS.SITE_PREFIX_URL %}'{{ SETTINGS.SITE_PREFIX_URL }}'{% else %}''{% endif %},
        STATIC_BASE_URL:           '{% static "" %}',
        G3WADMIN_LOCAL_MORE_APPS:  ['{{ SETTINGS.G3WADMIN_LOCAL_MORE_APPS|join:"','" }}'],
        FILE_FORM_UPLOAD_TEMP_URL: '{{ SETTINGS.MEDIA_URL }}{% if SETTINGS.FILE_FORM_UPLOAD_DIR %}{{ FILE_FORM_UPLOAD_DIR }}{% else %}temp_uploads{% endif %}/',
        PRIVACY_MSG:               "{% if SETTINGS.PRIVACY_MSG %} {{ SETTINGS.PRIVACY_MSG|safe }} {% else %}{% trans 'This website uses cookies to ensure you get the best experience on our website' %}.{% endif %}",
      };
    </script>
    <script src="{% url 'javascript-catalog' %}"></script>

    <!-- Vendor JS -->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-colorpicker.js" %}"></script>
    <script src="{% static "js/select2.js" %}"></script>
    <script src="{% static "js/jquery-filer.js" %}"></script>
    <script src="{% static "js/datatables.js" %}"></script>
    <script src="{% static "js/proj4-src.js" %}"></script>
    <script src="{% static "js/summernote.js" %}"></script>
    <script src="{% static 'js/cookieconsent.js' %}"></script>
    <script src="{% static "file_form/file_form.js" %}"></script>

    <!-- i18n -->
    <script src="{% static 'locales/' %}{{ lang }}.js"></script>

    <!-- APP -->
    <script src="{% static "js/g3wadmin.js" %}"></script>

    <!-- JS modules -->
    {% for js_module in js_modules %}
      {%  if js_module %}
        <script src="{% static js_module %}"></script>
      {% endif %}
    {% endfor %}

    <!-- Custom JS -->
    {% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}
      {% for js in SETTINGS.G3WSUITE_CUSTOM_JS %}
        <script src="{{ js }}"></script>
      {% endfor %}
    {% endif %}

    <!-- Custom links -->
    {% block custom_js_links_page %}{% endblock %}

    <div id="startingspinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>

  </body>

</html>