{% extends "base_login.html" %}
{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block body_content %}
 <main class="login-box">
  <div class="login-logo">
    <span class="logo-lg">
      <img src="{% if SETTINGS.G3WSUITE_CUSTOM_STATIC_URL %}{{ SETTINGS.G3WSUITE_LOGIN_LOGO }}{% else %}{% static SETTINGS.G3WSUITE_LOGIN_LOGO %}{% endif %}">
    </span>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{%  trans 'Sign in to start your session' %}</p>
    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> {% trans 'LOGIN ERROR' %}!</h4>
        {% trans 'Username and/or password uncorrect' %}
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Username">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="form-group recaptcha">{{ form.captcha }}</div>
      <button type="submit" class="btn btn-primary btn-block btn-flat margin-bottom">{% trans 'Sign In' %}</button>
      <div class="row">
        {% include "socialaccount/provider_list.html" with process="login" %}
      </div>
      {% if SETTINGS.RESET_USER_PASSWORD %}
        <a class="btn btn-info btn-block btn-flat" href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a>
        <a class="btn btn-info btn-block btn-flat margin-bottom-small" href="{% url 'username_recovery' %}">{% trans 'Forgot your username?' %}</a>
      {% endif %}
      {% if SETTINGS.REGISTRATION_OPEN %}
        <a class="btn btn-info btn-block btn-flat margin-bottom-small" href="{% url 'django_registration_register' %}">{% trans 'Sign up' %}</a>
      {% endif %}
    </form>
  </div><!-- /.login-box-body -->
  <div style="text-align: center; color: grey; margin-top: 10px"><i>{% trans ' Version' %} {{ VERSION }}</i></div>
</main><!-- /.login-box -->
{% endblock %}