{% load i18n %}
{% load auth_extras %}

<style>
  #accordion dl                  { display: grid; grid-template: auto / .5fr 1fr; margin-bottom: 0; word-break: break-all; }
  #accordion dt                  { background: #fee; }
  #accordion dd                  { background: hsl(220, 10%, 95%); }
  #accordion dt, #accordion dd   { margin: 0; padding: .3em .5em; border-top: 1px solid #fff; }
</style>

<div id="accordion">
  <dl>
    <dt>{%trans 'Title'%}</dt><dd>{{ object.title }}</dd>
    <dt>{%trans 'Description'%}</dt><dd>{{ object.description|safe }}</dd>
    <dt>{%trans 'Groups'%}</dt>
    <dd>
      {% for group in object.group_set.all %}
        <a href="{% url 'group-update' group.slug %}">{{ group }}</a> {% if not forloop.last %} | {% endif %}
      {% endfor %}
    </dd>
    <dt>{%trans 'HeaderLogoImg'%}</dt><dd><img class="img-responsive" src="{{ MEDIA_URL }}{{ object.logo_img }}" /></dd>
    <dt>{%trans 'HeaderLogoLink'%}</dt><dd>{% if object.logo_link %}{{ object.logo_link }}{% endif %}</dd>
  </dl>
</div>