{% load i18n %}

<h3>{% trans 'General' %}</h3>
<dl>
    <dt>OS</dt>
    <dd>{{ sysinfo.OS.v }}</dd>

    <dt>QGIS Server</dt>
    <dd>{{ sysinfo.QGIS.v }}</dd>

    <dt>Python</dt>
    <dd>{{ sysinfo.Python.v }}</dd>
</dl>

<h3>{% trans 'DataBase' %}</h3>
<dl>
    {% for db in sysinfo.DB.items %}
    <dt>{{ db.db_name }}</dt>
    <dd>{{ db.v }}</dd>
    {% endfor %}
</dl>

<h3>{% trans 'Libraries' %}</h3>

<h4>{% trans 'General' %}</h4>
<dl>
    <dt>Qt</dt>
    <dd>{{ sysinfo.Libraries.General.Qt.v }}</dd>
</dl>

<h4>{% trans 'Geographic' %}</h4>
<dl>
    <dt>GDAL/OGR</dt>
    <dd>{{ sysinfo.Libraries.Geo.GDAL_OGR.v }}</dd>

    <dt>PROJ</dt>
    <dd>{{ sysinfo.Libraries.Geo.PROJ.v }}</dd>

    <dt>GEOS</dt>
    <dd>{{ sysinfo.Libraries.Geo.PROJ.v }}</dd>
</dl>

<h4>{% trans 'Python' %}</h4>
<dl>
    <dt>Django</dt>
    <dd>{{ sysinfo.Libraries.Python.Django.v }}</dd>

    <dt>GDAL/OGR</dt>
    <dd>{{ sysinfo.Libraries.Python.GDAL_OGR.v }}</dd>

    <dt>PyProj</dt>
    <dd>{{ sysinfo.Libraries.Python.PyProj.v }}</dd>
</dl>