{% load i18n %}
{% load static %}
{% load qplotly_tags %}

{% if as_col %}
<span class="col-xs-1 icon">
{% endif %}
    <a class="layer-action" data-toggle="tooltip" data-placement="top" title="{% trans 'Qplotly widgets' %}" data-widget-type="qplotlyWidgetList" data-qplotlywidget-project-pk="{{ layer.project.pk }}" data-qplotlywidget-layer-pk="{{ layer.pk }}" data-qplotlywidget-list-url="{% url 'qplotly-widget-api-filter-by-layer-id' layer.pk %}" ><i class="fa fa-area-chart"></i>
    <span class="label label-info label-action-layer">{% qplotlywidget4layer layer %}</span>
    </a>
{% if as_col %}
</span>
{% endif %}
