{% load i18n %}
{% load qdjango_tags %}
<div id="layer_widgets" style="margin-left:40px;">
    <a href="#" data-widget-type="ajaxForm" data-form-url="{% url 'qdjango-project-layer-widget-add' group.slug project.slug layer.slug %}" data-modal-size="modal-lg"><i class="ion ion-plus-circled"></i> {% trans 'Add new widget' %}</a>
    <table class="table">
    {% for object in object_list %}
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Type' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#" data-widget-type="ajaxForm" data-form-url="{% url 'qdjango-project-layer-widget-update' group.slug project.slug layer.slug object.slug %}" data-modal-size="modal-lg">{{ object.name }}</a>
                </td>
                <td>{{ object.widget_type }}</td>
                <td>{% if object|widget_linked_layer:layer  %}Collegato{% endif %}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>

