{% load i18n %}
{% load qdjango_tags %}
<div id="layer_widgets_{{ layer.id }}" style="margin-left:40px;">
    <a class="btn btn-sm btn-default" href="#" data-widget-type="ajaxForm" data-form-url="{% url 'qdjango-project-layer-widget-add' group.slug project.slug layer.slug %}" data-modal-size="modal-lg"><i class="ion ion-plus-circled"></i> {% trans 'Add new widget' %}</a>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans 'Actions' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Linked' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr id="qdjango_project_layer_widget_{{ object.slug }}">
                <td>
                    <span class="col-xs-2 icon">
                        <a href="#" data-widget-type="ajaxForm" data-form-url="{% url 'qdjango-project-layer-widget-update' group.slug project.slug layer.slug object.slug %}" data-modal-size="modal-lg"><i class="ion ion-edit"></i></a>
                    </span>
                    <span class="col-xs-2 icon">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}" data-widget-type="deleteItem" data-delete-url="{% url 'qdjango-project-layer-widget-delete' group.slug project.slug layer.slug object.slug %}" data-item-selector="#qdjango_project_layer_widget_{{ object.slug }}"><i class="ion ion-trash-b"></i></a>
                    </span>
                </td>
                <td>{{ object.name }}</td>
                <td>{{ object.widget_type }}</td>
                <td>
                    <input type="checkbox" {% if object|widget_linked_layer:layer  %} checked="checked" {% endif %} value="{{ object.id }}" data-widget-type="linkWidget2Layer" data-ajax-url="{% url 'qdjango-project-layer-widget-link' group.slug project.slug layer.slug object.slug %}"/>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    <script>
        ga.ui.initLinkWidget2Layer();
    </script>
</div>

