{% load i18n %}
{% load auth_extras %}

<style>
  #accordion > details {
    margin-bottom: 10px;
  }
  #accordion > details > summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 10px;
    user-select: none;
    background-color: #00a65a;
    color: #fff;
  }
</style>

<div id="accordion" onclick="'accordion' == event.target.parentNode.parentNode.id && event.target.parentNode.parentNode.querySelectorAll(':scope > details').forEach((d) => { if (event.target.closest('details') && event.target.closest('details') !== d) { d.open = false; } });">

  <!-- general -->
  <details open>
    <summary>{% trans 'General' %}</summary>
    <div style="display: grid;grid-auto-flow: column;">
      {%if user.is_superuser %}
        <ul class="list-unstyled">
          <li><h4>{%trans 'Users' %}:</h4></li>
          {% if user.is_superuser %}
            <li><b>{%trans 'Editor level 1 user'%}</b>: {% if object.editor %}{{object.editor|safe}}{% endif %}</li>
          {% endif %}
          {% if user.is_superuser or user|has_group:"Editor Maps Groups" %}
            <li><b>{%trans 'Editor level 2 user'%}</b>: {% if object.editor2 %}{{object.editor2|safe}}{% endif %}</li>
            <li><b>{%trans 'Viewer users'%}</b>: {{object.viewers|safeseq|join:", "}}</li>
            <li><b>{%trans 'Editor user groups'%}</b>: {{object.editor_user_groups|safeseq|join:", "}}</li>
            <li><b>{%trans 'Viewer user groups'%}</b>: {{object.viewer_user_groups|safeseq|join:", "}}</li>
          {% endif %}
        </ul>
      {% endif %}
      <ul class="list-unstyled">
        <li>
          <h4>{% trans 'Thumbnail' %}</h4>
          {% if object.thumbnail %}<a href="{{ MEDIA_URL }}{{ object.thumbnail }}"><img style="height: 120px;" src="{{ MEDIA_URL }}{{ object.thumbnail }}" /></a>
          {% else %}<img src="https://via.placeholder.com/160x120" />{% endif %}
        </li>
        <li>
          <h4>{% trans 'Qgis project Version:' %}</h4>
          <span>{{ object.qgis_version }}</span>
        </li>
      </ul>
    </div>
  </details>

  <!-- widgets -->
  {% if widgets %}
    <details>
      <summary>{% trans 'Widgets' %}</summary>
      <table class="table">
        <thead>
          <tr>
            <th>{% trans 'Layer name' %}</th>
            <th>{% trans 'Search name' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for w in widgets %}
            <tr>
              <td>{{ w.0 }}</td>
              <td>{{ w.1 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </details>
  {% endif %}

  <!-- editings -->
  {% if editings %}
    <details>
      <summary>{% trans 'Editing properties' %}</summary>
      {% for e in editings %}
        <details style="padding: 5px 15px; border: 1px dashed; ">
          <summary style="cursor:pointer; user-select:none; padding: 10px; font-weight:bold;">{{ e.elayer.layer.name }}</summary>
          <ul style="padding-left: 25px;">
            <li>{% trans 'Scale' %}: {% if e.elayer.scale %}<i>1:{{ e.elayer.scale }}</i>{% endif %}</li>
            <li>{% trans 'User adding data field'%}: {% if e.elayer.add_user_field %}{{ e.elayer.add_user_field }}{% endif %}</li>
            <li>{% trans 'User editing data field '%}: {% if e.elayer.edit_user_field %}{{ e.elayer.edit_user_field }}{% endif %}</li>
            <li>{% trans 'User group adding data field'%}: {% if e.elayer.add_user_group_field %}{{ e.elayer.add_user_group_field }}{% endif %}</li>
            <li>{% trans 'User group editing data field '%}: {% if e.elayer.edit_user_group_field %}{{ e.elayer.edit_user_group_field }}{% endif %}</li>
          </ul>
          {% if e.users %}
            <table class="table" style="margin-bottom: 40px;">
              <thead>
                <tr>
                  <th>{% trans 'Username' %}</th>
                  <th>{% trans 'Permissions' %}</th>
                </tr>
              </thead>
              <tbody>
              {% for u in e.users %}
                <tr>
                  <td>{{ u.username }}</td>
                  <td>{{ u.permissions|join:' | ' }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% endif %}
          {% if e.ugroups %}
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans 'User Group Name' %}</th>
                  <th>{% trans 'Permissions' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for g in e.ugroups %}
                  <tr>
                    <td>{{ g.name }}</td>
                    <td>{{ g.permissions|join:' | ' }}</td>
                  </tr>
                {%  endfor %}
              </tbody>
            </table>
          {% endif %}
        </details>
      {% endfor %}
    </details>
  {% endif %}

  <!-- geoconstraints -->
  {% if geoconstraints %}
    <details>
      <summary>{% trans 'Geo-constraints' %}</summary>
      {% for g in geoconstraints %}
        <h4 class="box-body bg-gray"  {% if not forloop.first %}style="margin-top: 40px;"{% endif %}>Layer: <b>{{ g.layer.name }}</b></h4>
        {% for c in g.constraints %}
          <h5>{% trans 'Constraint Layer' %}: <b>{{ c.constraint.constraint_layer.name }}</b></h5>
          <h5>{% trans 'Description' %}: <i>{{ c.constraint.description }}</i></h5>
          <h5>{% trans 'For view' %}: {% if c.constraint.for_view %}<span style="color:green">{% trans 'Yes' %}</span>{% else %}<span style="color:red">{% trans 'No' %}</span>{% endif %}</h5>
          <h5>{% trans 'For editing' %}: {% if c.constraint.for_editing %}{<span style="color:green">{% trans 'Yes' %}</span>{% else %}<span style="color:red">{% trans 'No' %}</span>{% endif %}</h5>
          <h5>{% trans 'Autozoom' %}: {% if c.constraint.autozoom %}<span style="color:green">{% trans 'Yes' %}</span>{% else %}<span style="color:red">{% trans 'No' %}</span>{% endif %}</h5>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>{% trans 'User / User Group' %}</th>
                <th>{% trans 'Rule' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for r in c.rules %}
                <tr>
                  <td>{{ r.0 }}</td>
                  <td>{{ r.1 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endfor %}
    </details>
  {% endif %}

  <!-- expconstraints -->
  {% if expconstraints %}
    <details>
      <summary>{% trans 'Expression constraints' %}</summary>
      {% for e in expconstraints %}
        <h4 class="box-body bg-gray"  {% if not forloop.first %}style="margin-top: 40px;"{% endif %}>Layer: <b>{{ e.layer.name }}</b></h4>
        {% for c in e.constraints %}
          <h5>{% trans 'Description' %}: <i>{{ c.constraint.description }}</i></h5>
          <h5>{% trans 'For view' %}: {% if c.constraint.for_view %}<span style="color:green">{% trans 'Yes' %}</span>{% else %}<span style="color:red">{% trans 'No' %}</span>{% endif %}</h5>
          <h5>{% trans 'For editing' %}: {% if c.constraint.for_editing %}<span style="color:green">{% trans 'Yes' %}</span>{% else %}<span style="color:red">{% trans 'No' %}</span>{% endif %}</h5>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>{% trans 'User / User Group' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Rule' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for r in c.rules %}
                <tr>
                  <td>{{ r.0 }}</td>
                  <td>{% trans r.1 %}</td>
                  <td>{{ r.2 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endfor %}
    </details>
  {% endif %}

  <!-- hiddenlayers -->
  {% if hiddenlayers %}
    <details>
      <summary>{% trans 'Hidden layers' %}</summary>
      <table class="table">
        <thead>
          <tr>
            <th>{% trans 'Layer' %}</th>
            <th>{% trans 'Users' %}</th>
            <th>{% trans 'User Groups' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for hl in hiddenlayers %}
            <tr>
              <td>{{ hl.layer }}</td>
              <td>{{ hl.users|join:' | ' }}</td>
              <td>{{ hl.ugroups|join:' | ' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </details>
  {% endif %}

  <!-- hiddenfields -->
  {% if hiddenfields %}
    <details>
      <summary>{% trans 'Hidden fields' %}</summary>
      {% for hf in hiddenfields %}
        <h4 class="box-body bg-gray"  {% if not forloop.first %}style="margin-top: 40px;"{% endif %}>Layer: <b>{{ hf.layer.name }}</b></h4>
        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'User / User Group' %}</th>
              <th>{% trans 'Hidden fields' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for h in hf.hiddenfields %}
              <tr>
                  <td>{{ h.0 }}</td>
                  <td>{{ h.1|join:' | ' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </details>
  {% endif %}

</div>