{{ wizard.management_form }}

{% for hidden in wizard.form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if wizard.steps.current == 'auth' %}
  <div class="form-group has-feedback">
    <input type="text" class="form-control" name="{{ wizard.form.username.html_name }}" placeholder="{{ wizard.form.username.label }}">
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback">
    <input type="password" class="form-control" name="{{ wizard.form.password.html_name }}" placeholder="{{wizard.form.password.label}}">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

{% elif wizard.steps.current == 'token' %}
  {% for field in wizard.form.visible_fields %}
    <div class="form-group has-feedback">
      <input type="password" class="form-control" name="{{ field.html_name }}" placeholder="{{ field.label }}">
      <span class="fa fa-shield form-control-feedback"></span>
    
      {% if field.help_text %}<small class="help-block">{{ field.help_text }}</small>{% endif %}
    </div>
  {% endfor %}

{% elif wizard.steps.current == 'backup' %}
  {% for field in wizard.form.visible_fields %}
    <div class="form-group has-feedback">
      <input type="text" class="form-control" name="{{ field.html_name }}" placeholder="{{ field.label }}">
      <span class="fa fa-key form-control-feedback"></span>
      {% if field.help_text %}<small class="help-block">{{ field.help_text }}</small>{% endif %}
    </div>
  {% endfor %}

{% else %}
  {% for field in wizard.form.visible_fields %}
    <div class="form-group">
      {{field.label_tag}}
      {{field}}
      {% if field.help_text %}<small class="help-block">{{ field.help_text }}</small>{% endif %}
    </div>
  {% endfor %}
{% endif %}