{% extends "base.html" %}
{% load static %}
{% load g3wadmin_tags %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load i18n %}


{% block page_header %}
<div class="dash-hero">
  <div class="row">
    <div class="col-md-8">
      <h1>
        <i class="fa fa-globe"></i>
        {% if object %}{% trans 'Edit cartographic group' %}{% else %}{% trans 'New cartographic group' %}{% endif %}
      </h1>
      <p>
        {% if object %}
          {{ form.instance.name }}{% if form.instance.title %} &mdash; <em>{{ form.instance.title }}</em>{% endif %}
        {% else %}
          {% trans 'Configure name, geographic data, base layers and branding for a new map group.' %}
        {% endif %}
      </p>
    </div>
    <div class="col-md-4 text-right hero-meta">
      <a href="{% url 'group-list' %}" class="hero-back">
        <i class="fa fa-arrow-left"></i> {% trans 'Back to groups' %}
      </a>
    </div>
  </div>
</div>
{% endblock %}



{% block main_content %}

<div class="form-shell" id="group-form-shell">

{% if object %}
    {% get_obj_perms user for object as "userObj_perms" %}
    <div class="form-summary">
        <div class="form-summary-info">
            <i class="fa fa-map"></i>
            <div>
                <strong>{{ object.name }}</strong>
                <span>
                    {% trans 'Currently' %}
                    <a href="{% url 'project-list' object.slug %}">
                        {{ object.getProjectsNumber }} {% trans 'projects' %}
                    </a>
                </span>
            </div>
        </div>
        <div class="form-summary-actions">
            {% with mode_btn=True %}
            {% include 'core/include/add_project.html' %}
            {% endwith %}
        </div>
    </div>
{% endif %}

<form method="post" id="group-form" data-widget-type="ajaxUpload" enctype="multipart/form-data">
    {% if form.errors %}
        <div class="form-alert form-alert-error">
            <i class="fa fa-exclamation-triangle"></i>
            <div>
                <strong>{% trans 'Some errors on form' %}</strong>
                <span>{% trans 'Check the highlighted fields and submit again.' %}</span>
            </div>
        </div>
    {% endif %}
    {% crispy form %}
    {% g3wadmin_add_button_form %}
</form>

</div>
{% endblock %}
