{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}
{% load g3wadmin_tags %}

{% block page_header %}
    <h1>{% trans 'Cartographic groups' %}</h1>
{% endblock %}

{% block custom_js_links_page %}
{% if user.is_superuser %}
<script>
    $("#groups_list").sortable({
        placeholder: "col-md-3 col-sm-6 sort-highlight-group",
        handle: ".handle",
        update: function(e, ui){
            new_order = $(e.target).sortable("toArray");

            // get current id of group moved
            var gid = ui.item.attr('id').substring(6)
            var url = _.template("/jx/groups/<%= gid %>/setorder/")({gid: gid});
            var data = {
                new_order: new_order
            }
            ga.utils.addCsfrtokenData(data);

            $.post(url, data, function(res){
                console.log(res);
            });

        },
    });
    $("#groups_list").disableSelection();
    $('.handle').hover(function() {
        $(this).css('cursor','move');
    });
</script>
{% endif %}
{% endblock %}

{% block main_content %}

<div id="group_list_fitler_bar" class="row">
<section class="col-lg-5">
    <div class="box box-solid {% if collapsed_filter_form %}collapsed-box{% endif %}">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
              <i class="fa fa-filter"></i>
              <h3 class="box-title">{% trans 'Filter by' %}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
                <form method="get" id="group-filter">
                {% crispy filter_form  %}
                    <button class="btn btn-block btn-default">{% trans 'Filter' %}</button>
                </form>
            </div>
          </div>
</section>
</div>
<div id="groups_list" class="row">
{% for object in object_list %}
    {% get_obj_perms user for object as "userObj_perms" %}
    <div class="col-md-3 col-sm-6" id="group_{{ object.pk }}">
     <div class="box box-widget widget-user" id="group_{{ object.slug }}">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active col-sm-12" style="background: url('{{ MEDIA_URL }}{{ object.header_logo_img }}') no-repeat center center;">
                <div class="row">
                    <div class="col-sm-12 widget-group-title handle">
                        <h3 class="widget-user-username">{{ object.name }}</h3>
                        <h5 class="widget-user-desc">{{ object.title }} <small>({{ object.srid }})</small></h5>
                    </div>
                </div>
                </div>
                <div class="box-footer">
                  <div class="row">
                   <div class="col-sm-2 col-xs-2">
                      <div class="description-block">
                        {% if "change_group" in userObj_perms %}
                        <div class="icon" data-toggle="tooltip" data-placement="top" title="{% trans 'Add new project' %}" >
                        {% if SETTINGS.G3WADMIN_PROJECT_APPS|length == 1 %}
                            <a href="{% url 'qdjango-project-add' object.slug %}" ><i class="ion ion-plus-circled"></i></a>
                        {% else %}
                            {% include 'core/include/add_project.html' %}
                        {% endif %}
                        </div>
                        {% endif %}
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-4 col-xs-4">
                      <div class="description-block projects-group">
                        <h5 class="description-header"  data-toggle="tooltip" data-placement="top" title="{% trans 'Group projects' %}" ><a href="{% url 'project-list' object.slug %}">{% g3wadmin_get_projects_number object user 1 %} {% trans 'Projects' %}</a></h5>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-2 col-xs-2">
                      <div class="description-block">
                         <div class="icon">
                         {% if "view_group" in userObj_perms %}
                          <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Show detail' %}" data-widget-type="detailItem" data-detail-url="{% url 'group-detail' object.slug %}"><i class="ion ion-eye"></i></a>
                         {% endif %}
                        </div>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-2 col-xs-2">
                      <div class="description-block">
                        <div class="icon">
                        {% if "change_group" in userObj_perms %}
                          <a href="{% url 'group-update' object.slug %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                        {% endif %}
                        </div>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-2 col-xs-2">
                      <div class="description-block">
                        <div class="icon">
                        {% if "delete_group" in userObj_perms %}
                          <a href="#" 
                          data-toggle="tooltip" 
                          data-placement="top" 
                          title="{% trans 'Delete/Deactivate' %}"  
                          data-widget-type="activeDeactiveItem" 
                          data-active-deactive-action="deactivate" 
                          data-active-deactive-url="{% url 'group-deactive' object.slug %}"
                          data-active-deactive-delete-url="{% url 'group-delete' object.slug %}"
                          data-item-selector="#group_{{ object.slug }}">
                          <i class="ion ion-trash-b"></i></a>
                        {% endif %}
                            <div class="hidden pre-active-deactive-message">
                                <div><p>{% blocktrans %}<strong>Warning</strong>: deleting the group (move to bucket) will delete the projects it contains (move to the bucket)!{% endblocktrans %}</p></div>
                            </div>
                        </div>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
          </div><!-- /.widget-user -->
    </div>
{% endfor %}
</div>
{% if perms.core.add_group %}
<div class="row">
{% with 'group-add' as object_add_url_name %}
    {% include 'core/include/widget_add_box.html' %}
{% endwith %}
</div>
{% endif %}

{% endblock %}