{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}
{% load g3wadmin_tags %}

{% block page_header %}
  <h1>
    {% trans 'Cartographic groups' %}
    {% if perms.core.add_group %}
      <a href="{% url 'group-add' %}" title="Add new element">
        <i class="fa fa-plus-circle"></i>
      </a>
    {% endif %}
  </h1>
{% endblock %}

{% block main_content %}

<details id="groups_filter" {% if not collapsed_filter_form %}open{% endif %}>
  <summary>
    <i class="fa fa-filter"></i>
    <b >{% trans 'Filter by' %}</b>
  </summary>
  <form method="get" id="group-filter">
    {% crispy filter_form  %}
      <button class="btn btn-block btn-default">{% trans 'Filter' %}</button>
    </form>
</details>

<div id="groups_list">
  {% for object in object_list %}
    {% get_obj_perms user for object as "userObj_perms" %}
    <div id="group_{{ object.pk }}" class="handle col-md-3 col-sm-6">

      <figure>
        <img loading="lazy" class="bg-green-active" src="{{ MEDIA_URL }}{{ object.header_logo_img }}" alt="{{ object.title }} ({{ object.srid }})">
        <figcaption>
          <h3><b>{{ object.name }}</b></h3>
          <small style="color:#777">{{ object.title }} ({{ object.srid }})</small>
        </figcaption>
      </figure>

      {% if "change_group" in userObj_perms and SETTINGS.G3WADMIN_PROJECT_APPS|length == 1 %}
        <a
          data-toggle="tooltip"
          data-placement="top"
          title="{% trans 'Add new project' %}"
          href="{% url 'qdjango-project-add' object.slug %}"
        >
          <i class="fa fa-plus-circle"></i>
        </a>
      {% elif "change_group" in userObj_perms %}
        <div data-toggle="tooltip" data-placement="top" title="{% trans 'Add new project' %}" >
          {% include 'core/include/add_project.html' %}
        </div>
      {% endif %}
      
      <a
        href="{% url 'project-list' object.slug %}"
        data-toggle="tooltip"
        data-placement="top"
        title="{% trans 'Group projects' %}"
      >
        {% g3wadmin_get_projects_number object user 1 %}
        {% trans 'Projects' %}
      </a>
      
      {% if "view_group" in userObj_perms %}
        <a
          href="#"
          data-toggle="tooltip"
          data-placement="top"
          title="{% trans 'Show detail' %}"
          data-widget-type="detailItem"
          data-detail-url="{% url 'group-detail' object.slug %}"
        >
          <i class="fa fa-info-circle"></i>
        </a>
      {% endif %}

      {% if "change_group" in userObj_perms %}
        <a
          href="{% url 'group-update' object.slug %}"
          data-toggle="tooltip"
          data-placement="top"
          title="{% trans 'Edit' %}"
        >
          <i class="fa fa-pencil"></i>
        </a>
      {% endif %}

      {% if "delete_group" in userObj_perms %}
        <a
          href="#"
          data-toggle="tooltip"
          data-placement="top"
          title="{% trans 'Delete/Deactivate' %}"
          data-widget-type="activeDeactiveItem"
          data-active-deactive-action="deactivate"
          data-active-deactive-url="{% url 'group-deactive' object.slug %}"
          data-item-selector="#group_{{ object.slug }}"
        >
          <i class="fa fa-trash" style="color: red;"></i>
        </a>
      {% endif %}

      <div class="hidden pre-active-deactive-message">
        <div><p>{% blocktrans %}<strong>Warning</strong>: deleting the group (move to bucket) will delete the projects it contains (move to the bucket)!{% endblocktrans %}</p></div>
      </div>

    </div>
  {% endfor %}
</div>

{% if perms.core.add_group %}
  <a
    id="group_add"
    href="{% url 'group-add' %}"
    title="Add new element"
  >
    <i class="fa fa-plus-circle"></i>
  </a>
{% endif %}

<script>
document.head.insertAdjacentHTML(
  'beforeend',
  /* css */`
<style>
  details#groups_filter {
    margin:1em auto 2em 0;
    background: #fff;
    border: 1px solid #ddd;
    position: sticky;
    top: 50px;
    z-index: 1;
  }
  details#groups_filter summary {
    list-style: none;
    border-bottom: 1px solid #e2e8f0;
    font-size: 1.1em;
    padding:1em;
    user-select:none;
    cursor:pointer;
    background: #f7fafc;
  }
  details#groups_filter form {
    padding: 1em;
  }
  details#groups_filter summary::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    content: "\uf0d7";
    pointer-events:none;
    position:absolute;
    top:1.2em;
    right:1em;
  }
  details#groups_filter[open] summary:after {
    content: "\uf0d8";
  }
  #groups_list [id^="group_"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1em;
    background-color: #fff;
  }
  #groups_list figure > img {
    min-height: 200px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
  }
  #groups_list figure > figcaption {
    background-color: #fff;
    width: 100%;
    padding: 10px
  }
  #groups_list figure > figcaption > * {
    margin: 0;
    color: #222d32;
    font-weight: 400;
    width:100%;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  #groups_list [id^="group_"] i {
    font-size: 1.5em;
  }
  #group_add {
    aspect-ratio: 1;
    margin-top: 20px;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    font-size: 136px;
    background-color: rgba(255,255,255,.7);
    color: rgb(0,0,0,.15);
    border: 1px dashed #ddd;
  }
</style>`
);
{% if user.is_superuser %}
document.addEventListener("DOMContentLoaded", function() {
  let dragged = null;
  document.querySelectorAll('#groups_list .handle').forEach(row => {
    row.setAttribute('draggable', true);
    row.addEventListener('mouseover',  () => { row.style.cursor = 'move'; });
    row.addEventListener('mouseleave', () => { row.style.cursor = null; });
    row.addEventListener('dragstart',  () => { dragged = row; });
    row.addEventListener('dragend',    () => { dragged = null; });
    row.addEventListener('dragover',   e => { e.preventDefault(); row.style.border="2px dashed #000"; });
    row.addEventListener('dragleave',  () => { row.style.border=null; });
    row.addEventListener('drop', e => {
      if (dragged) {
        dragged.parentNode.insertBefore(dragged, dragged == row.nextSibling ? row : row.nextSibling);
        fetch(`/jx/groups/${dragged.id.substring(6)}/setorder/`, {
          method: 'POST',
          body: new URLSearchParams([
            ...Array.from(row.parentNode.children).map(tr => tr.id).filter(Boolean).map(id => ["new_order[]", id]),
            ["csrfmiddlewaretoken", $.cookie('csrftoken')],
          ]),
        });
      }
      row.style.border=null;
    });
  });
});
{% endif %}
</script>

{% endblock %}