{% extends "base.html" %}
{% load static %}
{% load g3wadmin_tags %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_header %}
<h1>
  {% trans 'Macro Group' %}
  <small>{{ form.instance.name }}</small>
</h1>
{% endblock %}


{% block main_content %}

{% if object %}
  <fieldset>
    <legend style="margin:0; float:left;">{% trans 'Current groups' %}:</legend>
    {% for group in object.group_set.all %}
      <a style="border: 1px solid #367fa9; border-radius: 4px; margin: 5px; background-color: #3c8dbc; padding: 1px 10px; color: #fff;float: left;" href="{% url 'group-update' group.slug %}">{{ group }}</a> {% if not forloop.last %} | {% endif %}
    {% endfor %}
  </fieldset>
{% endif %}

<form method="post" id="macrogroup-form" data-widget-type="ajaxUpload" enctype="multipart/form-data">
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissable">
      <h4><i class="icon fa fa-ban"></i> {% trans 'Alert' %}!</h4>
      {% trans 'Some errors on form. Check it and send again.' %}
    </div>
  {% endif %}
  {% crispy form %}
  {% g3wadmin_add_button_form%}
</form>

{% endblock %}