{% extends "base.html" %}
{% load static %}
{% load g3wadmin_tags %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_header %}
<div class="dash-hero">
  <div class="row">
    <div class="col-md-8">
      <h1>
        <i class="fa fa-folder-open"></i>
        {% if object %}{% trans 'Edit macro group' %}{% else %}{% trans 'New macro group' %}{% endif %}
      </h1>
      <p>
        {% if object and form.instance.name %}
          {{ form.instance.name }}{% if form.instance.title %} &mdash; <em>{{ form.instance.title }}</em>{% endif %}
        {% else %}
          {% trans 'Group cartographic groups together under a shared label and branding.' %}
        {% endif %}
      </p>
    </div>
    <div class="col-md-4 text-right hero-meta">
      <a href="{% url 'macrogroup-list' %}" class="hero-back">
        <i class="fa fa-arrow-left"></i> {% trans 'Back to macro groups' %}
      </a>
    </div>
  </div>
</div>
{% endblock %}



{% block main_content %}

<div class="form-shell" id="macrogroup-form-shell">

{% if object %}
    <div class="form-summary">
        <div class="form-summary-info">
            <i class="fa fa-folder-open"></i>
            <div>
                <strong>{{ object.name }}</strong>
                <span>
                    {% with groups=object.group_set.all %}
                    {% if groups %}
                        {% trans 'Linked groups:' %}
                        {% for group in groups %}
                            <a href="{% url 'group-update' group.slug %}">{{ group }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        {% trans 'No cartographic groups linked yet.' %}
                    {% endif %}
                    {% endwith %}
                </span>
            </div>
        </div>
    </div>
{% endif %}

<form method="post" id="macrogroup-form" data-widget-type="ajaxUpload" enctype="multipart/form-data">
    {% if form.errors %}
        <div class="form-alert form-alert-error">
            <i class="fa fa-exclamation-triangle"></i>
            <div>
                <strong>{% trans 'Some errors on form' %}</strong>
                <span>{% trans 'Check the highlighted fields and submit again.' %}</span>
            </div>
        </div>
    {% endif %}
    {% crispy form %}
    {% g3wadmin_add_button_form %}
</form>

</div>
{% endblock %}
