{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load auth_extras %}
{% load i18n %}


{% block page_header %}
<div class="dash-hero">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ group.name }}</h1>
      <p>{% trans 'Projects available in this cartographic group.' %}</p>
    </div>
    <div class="col-md-4 text-right hero-meta">
      <a href="{% url 'group-list' %}" style="color:#fff;opacity:.9;text-decoration:none;">
        <i class="fa fa-arrow-left"></i> {% trans 'Back to groups' %}
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js_links_page %}
{% if user.is_superuser or user|has_group:G3W_EDITOR1 or user|has_group:G3W_EDITOR2 %}
<script>
    function bindProjectCardsSortable() {
        var $grid = $('.projects-cards-grid');
        if (!$grid.length || $grid.data('sortable-bound')) return;
        $grid.data('sortable-bound', true);

        $grid.sortable({
            placeholder: "sort-highlight-project-card",
            handle: ".pc-drag-handle",
            forcePlaceholderSize: true,
            tolerance: 'pointer',
            update: function(e, ui) {
                var new_order = $(e.target).sortable("toArray");
                var gid = ui.item.attr('id').substring(15);
                var url = _.template("/qdjango/jx/project/<%= gid %>/setorder/")({gid: gid});
                var data = { new_order: new_order };
                ga.utils.addCsfrtokenData(data);
                $.post(url, data, function(res){});
            }
        }).disableSelection();
    }

    $(document).ajaxComplete(function() {
        if (this.URL) bindProjectCardsSortable();
    });
</script>
{% endif %}
{% endblock %}


{% block main_content %}
{% get_obj_perms user for group as "userObj_perms" %}

<div class="group-info-card">
    {% if group.header_logo_img %}
    <div class="gi-logo" style="background-image:url('{{ MEDIA_URL }}{{ group.header_logo_img }}');"></div>
    {% endif %}
    <div class="gi-body">
        <h3 class="gi-title">{{ group.title|default:group.name }}</h3>
        <div class="gi-desc">{{ group.description|safe }}</div>
    </div>
    <div class="gi-actions">
        {% if "view_group" in userObj_perms %}
        <a href="#" class="qa-btn" data-toggle="tooltip" data-placement="top"
           title="{% trans 'Show detail' %}"
           data-widget-type="detailItem"
           data-detail-url="{% url 'group-detail' group.slug %}">
            <i class="ion ion-eye"></i> {% trans 'Detail' %}
        </a>
        {% endif %}
        {% if "change_group" in userObj_perms and group.is_active == 1 %}
        <a href="{% url 'group-update' group.slug %}" class="qa-btn"
           data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}">
            <i class="ion ion-edit"></i> {% trans 'Edit group' %}
        </a>
        {% endif %}
    </div>
</div>

<div class="row">
{% with SETTINGS.G3WADMIN_PROJECT_APPS|length as n_apps %}
{% for app in SETTINGS.G3WADMIN_PROJECT_APPS %}
    {% with app|add:'-project-list' as listurl %}
    <div class="{% if n_apps > 1 %}col-md-6{% else %}col-md-12{% endif %} col-xs-12" id="{{ app }}_projects_list" data-widget-type="htmlItem" data-html-url="{% url listurl group.slug %}" data-target-selector="#{{ app }}_projects_list">
    {% include 'core/include/project_list_place_holder.html' %}
    </div>
    {% endwith %}
{% endfor %}
{% endwith %}
</div>
{% endblock %}