{% load i18n %}
{% load g3wadmin_tags %}
{% load guardian_tags %}

{% if results|length > 0 %}
  <details open>
    <summary>{% trans 'Cartographic macro groups' %} ({{ results|length }})</summary>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 130px;">{% trans 'Logo' %}</th>
          <th>{% trans 'Macro Group' %}</th>
          <th style="width: 130px;">{% trans 'Actions' %}</th>
          <th style="width: 130px;">{% trans 'Name' %}</th>
          <th style="width: 50px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for r in results %}
          {% if user %}
            {% get_obj_perms user for r as "userObj_perms" %}
          {% endif %}
          <tr>
            <td style="padding: 10px;">
              <img style="width: 130px; object-fit: cover;" src="{{ MEDIA_URL }}{{ r.logo_img }}">
            </td>
            <td>
              <h4>{{ r.title }}</h4>
              {% if r.description %}
                <details><summary><b>{% trans 'Description' %}</b></summary>{{ r.description|safe }}</details>
              {% endif %}
            </td>
            <td style="display: flex;gap: 10px;">
              {% if user %}
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{% trans 'Show detail' %}"
                  data-widget-type="detailItem"
                  data-detail-url="{% url 'macrogroup-detail' r.slug %}"
                >
                  <i class="fa fa-lg fa-info-circle"></i>
                </a>
                {% if "change_macrogroup" in userObj_perms %}
                  <a
                    href="{% url 'macrogroup-update' r.slug %}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{% trans 'Edit' %}"
                  >
                    <i class="fa fa-lg fa-pencil"></i>
                  </a>
                {% endif %}
              {% endif %}
            </td>
            <td>{{ r.name }}</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endif %}