name: G3W-Suite CI tests

on: [push, pull_request]

jobs:

  ci_tests:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        qgis_version: ['322', 'latest']

    steps:

    - uses: actions/checkout@v2

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name:  Running g3w-admin tests
      run: |
        make tests q=${{ matrix.qgis_version }} mode=test

    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
